<div class="container-fluid" style="width: 100%; height: 100%; overflow:hidden;">

  <div class="row" style="height: 100%; opacity: 0.85" *ngIf="loading">
    <div class="col-lg-12 text-center flex-column animate" style="padding: 39px; align-items: center;">
      <ng-container>

        <fa-layers class="mt-2 mb-1">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x" style="color:#0094d2;"></fa-icon>
        </fa-layers>
        <br>

        <div style="color:#0094d2; padding-left: 17px; font-size: 18px; margin-top: 10px">ЗАГРУЗКА...</div>
      </ng-container>
    </div>
  </div>

  <div class="row flex-items-xs-between row_main-adaptive-40" style="width: 100%; height: 100%;">
    <div class="text-center flex-column animate" *ngIf="!loading" style="padding: 5px; width: 100%; height: 100%;">
	  <div class="text-center" style="color: white;">
	   В данном разделе Вы можете отслеживать все бонусные начисления, которые поступают на Ваш кошелек от участия в маркетинговых программах компаний.
	  </div>
	  <div class="text-right">
        <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="refresh()">
          <fa-icon [icon]="['fas', 'undo']"></fa-icon>
          Обновить
        </a>
      </div>
      <p-table #bonusTable
	       [value]="bonuses"
               [responsive]="true"
               [totalRecords]="totalBonuses"
               dataKey="id"
               class="overview-table flex-column"
               sortField="date"
               sortMode="single"
               [sortOrder]="-1"
               [rows]="10"
               [paginator]="true">
			   
        <ng-template pTemplate="emptymessage" let-columns>
		 <tr>
          <td align="center" colspan="7">
           Пока нет бонусов
          </td>
         </tr>
        </ng-template>
		
		<ng-template pTemplate="header">
          <tr>
            <th style="width: 30%;" [pSortableColumn]="'date'">
              Дата и время
              <p-sortIcon [field]="'date'"></p-sortIcon>
            </th>
            <th style="width: 30%;">
              Сумма
            </th>
            <th class="text-center expandable" style="width: 40%;">
              Назначение
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-expanded="expanded">
          <tr [pSelectableRow]="item" class="tr-canexpand" [pRowToggler]="item" *ngIf="!item.dup">
            <td class="text-center" style="width: 30%;">
			 {{item.date}}
            </td>

            <td class="text-center" style="width: 30%;">
			 {{item.amount}}
            </td>

            <td class="text-center expandable" style="width: 40%;">
			 {{item.comment}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
	
  </div>
</div>
