/deep/ body {
    overflow-y: auto !important;
}

.wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../../assets/fundosimpledars.png");
    background-size: cover;
}

.container-fluid {
    flex-grow: 1;
    margin-bottom: 40px;
}

.anim-logo {
    margin-top: 41px;
}

.slogan {
    font-size: 20px;
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial, sans-serif;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.animate {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.check-card {
    box-shadow: 4px 6px 5px 0 rgba(0, 0, 0, 0.34);
    border: none;
    background-color: rgba(162, 162, 162, 0.12);
    margin-top: 31px;
    width: 350px;
}

.info {
    font-size: 18px;
    color: #696969;
}

.public-input {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 175px;
}

.btn-check {
    margin-bottom: 10px;
    margin-left: 10px;
}

.card-block {
    border-bottom: 0;
    overflow-y: -webkit-paged-x;
    height: 154px;
}

.btn-max {
    margin: -10px 0 .25rem 0;
    min-width: unset;
}

.modal-body {
    overflow-y: hidden !important;
}
.check-card.check-card_adaptive{
    max-width: 350px;
    width: 100%;
}
.card-block.card-block_adaptive-380{
    height: 180px;
}
._flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._justify-between{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._flex-wrap{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.modal-footer__botText{
    width: 100%;
    margin-top: 15px;
}
/deep/ .modalDellWrap .modal-header{
    padding-right: 0px;
}
@media screen and (max-width: 450px){
    ._butfull-450>div{
        flex-grow: 1;
    }
    ._butfull-450>div>button{
        width: calc(100% - 12px);
        margin-top: 15px !important;
    }
    .removeAll{
        width: 100%;
        max-width: 100%;
        margin: 0px 0px 20px;
    }
    .changeRemoteCode{
        margin-right: -12px;
        margin-top: -10px;
        padding-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    .changeRemoteCode>button{
        flex-grow: 1;
        margin-right: 12px;
        margin-top: 15px;
    }
    .btn_fullWidth-450{
        width: 100%;
        max-width: 100%;
        margin-left: 0px !important;
    }
    .btn_marginTop-450{
        margin-top: 15px;
    }
    .modal-footer_noPad-450{
        padding-right: 0px;
    }
}
/deep/ @media screen and (max-width: 380px){
    .btn_adaptive-380, .public-input_adaptive-380{
        display: block !important;
        width: 100% !important;
        margin-top: 0px !important;
    }
    .btn_adaptive-380{
        height: 35px !important;
        margin-top: 20px !important;
    }
    .card-block.card-block_adaptive-380{
        overflow: hidden;
    }
}