<div class="wrap">
    <div class="container-fluid">
        <div class="row animate fadeInDown">

            <div class="col-md-12 text-center">
<!--
                <div class="anim-logo">
                    <lottie-animation-view
                            [options]="lottieConfig"
                            [width]="300"
                            [height]="'auto'"
                            (animCreated)="handleAnimation($event)">
                    </lottie-animation-view>
                </div>
-->
                <div class="slogan">Вас приветствует кошелек Simple DARS! Здесь Вы можете управлять Вашими кошельками в блокчейне DARS.</div>
		 <br clear="all"/>
                 <div class="card check-card  mx-auto check-card_adaptive">
                    <div class="card-block card-block_adaptive-380">
                        <div class="text-center">Введите Ваш код для разблокировки</div>
                        <mat-form-field class="public-input public-input_adaptive-380">
                            <input matInput #pin2 type="password" autocomplete="off" placeholder="Код" (keyup.enter)="unlock()" [(ngModel)]="pin">
                            <mat-hint *ngIf="wrongpass" class="error">
                                Неверный пароль.<br>Осталось {{nAttempts}} попытки!
                                <fa-icon [icon]="['fas','exclamation-circle']"
                                         pTooltip="Все данные будут удалены после исчерпания попыток" class="error">
                                </fa-icon>
                            </mat-hint>
			    <br clear="all"/>
                        </mat-form-field>
                        <button mat-button matSuffix mat-icon-button class="btn btn-inverse btn-sm btn-max btn_adaptive-380" (click)="unlock()" [disabled]="pin2.value.length === 0">
                                Разблокировать
                        </button>
                    </div>
                 </div>
                <div style="display: flex;justify-content: center; align-items: center;flex-wrap: wrap">
                    <span style="padding: 0 .5rem;">Забыли свой код?</span>
                    <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="logoutModal = true">
                        Очистить все данные и выйти
                        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
                    </a>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="modalDellWrap">
<clr-modal [(clrModalOpen)]="logoutModal" [clrModalSize]="'sm'">
    <h3 class="modal-title text-white">
        Вы <span class="blue">уверены</span> ?
    </h3>
    <div class="modal-body">
        <p style="margin-bottom: 20px;">Все Ваши данные будут потеряны! Вы должны будете снова импортировать кошельки и ввести свои ключи!</p>
        <mat-checkbox [(ngModel)]="clearContacts">Также очистить все контакты</mat-checkbox>
    </div>
    <div class="modal-footer _flex-wrap modal-footer_noPad-450">
        <button class="btn btn-danger-outline btn_fullWidth-450" (click)="logoutModal = false">Отмена</button>
        <div class="btn_fullWidth-450 btn_marginTop-450">
            <button type="button" class="btn btn-info-outline btn_fullWidth-450" (click)="logout()">
                Да
            </button>
        </div>
        <div class="text-center modal-footer__botText">*Кошелек будет перезапущен</div>
    </div>
</clr-modal>
</div>