<div class="container-fluid" style="width: 100%; height: 100%; overflow:hidden;">

  <div class="row" style="height: 100%; opacity: 0.85" *ngIf="loading">
    <div class="col-lg-12 text-center flex-column animate" style="padding: 39px; align-items: center;">
      <ng-container>

        <fa-layers class="mt-2 mb-1">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x" style="color:#0094d2;"></fa-icon>
        </fa-layers>
        <br>

        <div style="color:#0094d2; padding-left: 17px; font-size: 18px; margin-top: 10px">ЗАГРУЗКА...</div>
      </ng-container>
    </div>
  </div>

  <div class="row flex-items-xs-between row_main-adaptive-40" style="width: 100%; height: 100%;">
    <div class="text-center flex-column animate" *ngIf="!loading" style="padding: 5px; width: 100%; height: 100%;">
	  <div class="text-center" style="color: white;">
	   В данном разделе Вы имеете возможность подтверждать операции, созданные на сайте компании.
	  </div>
      <div class="text-right">
        <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="refresh()">
          <fa-icon [icon]="['fas', 'undo']"></fa-icon>
          Обновить
        </a>
      </div>
      <p-table #invoiceTable
			   [value]="invoices"
               [responsive]="true"
               [totalRecords]="totalInvoices"
               dataKey="id"
               class="overview-table flex-column walletTable"
               sortField="date"
               sortMode="single"
               [sortOrder]="-1"
               [rows]="10"
               [paginator]="true">
			   
        <ng-template pTemplate="emptymessage" let-columns>
		 <tr>
          <td align="center" colspan="7">
           Пока нет инвойсов
          </td>
         </tr>
        </ng-template>
		
		<ng-template pTemplate="header">
          <tr>
            <th style="width: 35px;">
            </th>
            <th style="width: 80px;" [pSortableColumn]="'date'">
              Дата и время
              <p-sortIcon [field]="'date'"></p-sortIcon>
            </th>
            <th style="width: 80px;">
              Отправитель
            </th>
            <th style="width: 80px;">
              Получатель
            </th>
            <th style="width: 80px;">
              Сумма
            </th>
            <th class="text-right expandable" style="width: 90px;text-align: center !important">
              Назначение
            </th>
            <th class="text-right expandable" style="width: 90px;">
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-expanded="expanded">
          <tr [pSelectableRow]="item" class="tr-canexpand" [pRowToggler]="item" *ngIf="!item.dup">
            <td class="text-center" style="width: 35px;">
			  <fa-icon *ngIf="item.payed == 1" [icon]="['far', 'paper-plane']" size="lg" class="blue"></fa-icon>
              <fa-icon *ngIf="item.payed == 0" [icon]="['far', 'arrow-alt-to-bottom']" size="lg" class="blue"></fa-icon>
            </td>

            <td class="text-center" style="width: 80px;">
			 {{item.date}}
            </td>

            <td class="text-center" style="width: 80px;">
			 {{item.from}}
            </td>

            <td class="text-center" style="width: 80px;">
			 {{item.to}}
			</td>

            <td class="text-center" style="width: 80px;">
			 {{item.quantity}}
            </td>

            <td class="text-center expandable" style="width: 90px;">
			 {{item.comment}}
            </td>

            <td class="text-center expandable" style="width: 90px;">
             <ng-container *ngIf="item.payed === 0">
			  <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="doPayment(item.id)">
			   <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>
			   Оплатить
			  </a>
             </ng-container>
             <ng-container *ngIf="item.payed === 1">
			   Оплачено
             </ng-container>
           </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
	
  </div>
</div>

<clr-modal [(clrModalOpen)]="sendModal">
  <h3 class="modal-title text-white">
   Отправитель: <span class="blue">{{ fromAccount }}</span><br>
   Получатель: <span class="blue">{{ toAccount }}</span><br>
   Сумма: <span class="blue">{{ sendQuantity }}</span><br>
   Назначение: <span class="blue">{{ paymentComment }}</span><br>
   <span class="blue" style="font-size: 12px;">Для подтверждения операции введите пароль и нажмите кнопку ПОДТВЕРДИТЬ</span><br>
   <ng-container *ngIf="needRent">
    <span class="error" style="font-size: 12px;">На Вашем балансе недостаточно токенов DRS для выполнения операции! Установите переключатель ВЗЯТЬ ТОКЕНЫ В АРЕНДУ для проведения данной операции за счет стека токенов, которые отданы в аренду</span>
   </ng-container>	
  </h3>
  <div class="modal-footer">
    <form [formGroup]="confirmForm" class="confirmForm">
      <ng-container *ngIf="needRent">
	   <div class="toggle-switch text-left">
        <input type="checkbox" id="doRent" formControlName="dorent">
        <label for="doRent" class="blue">Взять токены в аренду?</label>
       </div>
      </ng-container>	
      <mat-form-field>
        <input matInput #pass type="password" (keyup.enter)="transfer()" placeholder="Пароль" formControlName="pass">
        <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
          {{wrongpass}}
        </mat-hint>
        <br clear="all"/>
      </mat-form-field>
      <button type="button" class="btn btn-info-outline" style="margin-top: 12px;" (click)="transfer()" [disabled]="!confirmForm.valid || busy || (needRent && !confirmForm.value.dorent)">
        Подтвердить
        <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
      </button>
    </form>
  </div>
</clr-modal>
