/deep/ body,
/deep/ html,
/deep/ .modal{
  overflow: hidden !important;
  max-height: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
/deep/ body::-webkit-scrollbar,
/deep/ html::-webkit-scrollbar{
  display: none;
}
.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../../assets/fundosimpledars.png");
  background-size: cover;
}

.container-fluid {
  flex-grow: 1;
  margin-bottom: 40px;
}

.anim-logo {
  /*margin-top: 80px;*/
  margin-top: 41px;
}

.slogan {
  font-size: 20px;
  font-family: Metropolis,Avenir Next,Helvetica Neue,Arial, sans-serif;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animate {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.copy {
  margin-bottom: 8px;
}

.copy:hover {
  cursor: pointer;
  color: white;
}

.bold {
  color: lightgrey;
  font-weight: 500;
}

.check-card {
  box-shadow: 4px 6px 5px 0 rgba(0, 0, 0, 0.34);
  border: none;
  background-color: rgba(162, 162, 162, 0.12);
  margin-top: 31px;
}

.info {
  font-size: 18px;
  color: #696969;
}

.public-input {
  margin-top: 20px;
  width: 335px;
  margin-bottom: 5px;
}

.btn-check {
  margin-bottom: 10px;
  margin-left: 10px;
}

.card-block {
  border-bottom: 0;
}

.card-footer {
  border-top: 1px solid #050505;
  overflow: hidden;
  font-size: 16px;
 }

.red {
  color: #e04848;
}

.label-blue {
  font-size: 14px;
  color: #d3d3d3;
  border-radius: 2px;
  padding: 14px 0.5rem;
}

.constitution {
  border: 1px solid #484848;
  border-radius: 4px;
  padding: 10px 10px;
  max-height: 260px;
  margin-top: 5px;
  overflow-y: scroll;
  color: #808080;
  margin-bottom: 10px;
}

/deep/ .modal-body {
  height: 100%;
}

/deep/ .clr-wizard-content {
  height: 100%;
}

.exoduspage.active {
  display: flex !important;
  flex-flow: column;
  height: 100%;
}

.instructions {
  flex: 0 1 auto;
  color: #8c8c8c;
}

.main-item {
  color: #a7a7a7;
}

.remaining-height {
  flex: 1 1 auto;
  border: 2px dashed #535353;
  margin-top: 5px;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
}

.afterdrop {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.advanced {
  font-size: 14px;
  color: #696969;
}

.warn {
  color: #ff3f32;
}

.fit-content {
  overflow: -webkit-paged-x;
}

#textarea {
    background: #b1b1b1;
    border: 2px solid #065e8d;
}

.settings-card {
  background-color: transparent;
  border: 1px solid #0079b8;
  box-shadow: none;
  color: #ffffff;
}
/deep/ .clr-wizard.wizard-lg .modal-dialog{
  overflow: auto;
  min-height: 0px;
}
/deep/ .modal-body .fa-layers.blue{
  display: block;
  width: 25px;
  height: 25px;
  transform: translateY(20px);
}
/deep/ .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body{
  display: flex;
  overflow: auto;
}
/deep/ .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main{
  width: 100%;
}
/deep/ .modalWrapper .clr-wizard.wizard-md .clr-wizard-stepnav-wrapper,
/deep/.modalWrapper .clr-wizard.wizard-md .modal-content,
/deep/.modalWrapper .clr-wizard.wizard-lg .clr-wizard-stepnav-wrapper,
/deep/.modalWrapper .clr-wizard.wizard-lg .modal-content{
  max-height: unset;
}
/deep/ #toast-container .toast{
  padding: 15px;
}
/deep/ .butStartCor nav .clr-wizard-stepnav-list button:before{
  display: none;
}
/deep/ @media screen and (max-width: 480px){
  .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body{
    overflow: hidden;
  }
  .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main{
    overflow-x: hidden !important;
  }
  .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main .clr-wizard-page>*{
    width: 100% !important;
  }
  .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main .clr-wizard-page>* .mat-checkbox-layout{
    white-space: normal;
    align-items: flex-start;
    display: flex;
  }
  .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main .clr-wizard-page>* .mat-checkbox-layout .mat-checkbox-inner-container{
    margin: 5px 10px 0px 0px;
  }
  .modalWrapper .clr-wizard .modal-content-wrapper{
    overflow: auto;
    display: block;
  }
  .modalWrapper .clr-wizard.wizard-md .clr-wizard-stepnav-wrapper,
  .modalWrapper .clr-wizard.wizard-md .modal-content,
  .modalWrapper .clr-wizard.wizard-lg .clr-wizard-stepnav-wrapper,
  .modalWrapper .clr-wizard.wizard-lg .modal-content{
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden !important;
  }
}

