<toaster-container [toasterconfig]="config"></toaster-container>
<div class="wrap toasterWrap" style="height: 100%; overflow-x: hidden;">
  <div class="container-fluid" style="width:100%; max-width: 466px;">
    <div class="row animate fadeInDown">

      <div class="col-md-12 text-center">
        <div class="anim-logo">
<!--
          <lottie-animation-view
            [options]="lottieConfig"
            [width]="300"
            [height]="'auto'"
            (animCreated)="handleAnimation($event)">
          </lottie-animation-view>
-->
        </div>
        <div class="slogan">Вас приветствует кошелек Simple DARS! Здесь Вы можете управлять Вашими кошельками в блокчейне DARS.</div>
        <ng-container *ngIf="busy && network.status === ''">
          <fa-layers class="mt-2 mb-1">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x"></fa-icon>
          </fa-layers>
          <div>Подключение к сети DARS...</div>
        </ng-container>
        <ng-container *ngIf="busy && network.status === 'timeout'">
          <div class="error mt-2">Невозможно подключиться к сети DARS. Проверьте свое подключение к Интернету и попробуйте снова</div>
          <button (click)="retryConn()" class="btn btn-link">
            <fa-icon [icon]="['fas', 'undo']"></fa-icon>
            &nbsp;ПОВТОРИТЬ
          </button>
          <div class="card check-card">
            <div class="card-block fit-content">
              <div class="text-left advanced"><span class="warn">Дополнительные настройки:</span> Вы также можете выбрать другой сервер для подключения
              </div>
              <mat-form-field class="public-input">
                <input matInput type="text" placeholder="Имя сервера" [(ngModel)]="endpoint">
              </mat-form-field>
              <button class="btn btn-inverse btn-check" (click)="customConnect()" [disabled]="!endpoint">
                Подключиться
              </button>
            </div>
            <ng-container *ngIf="checkerr === ''">
              <div class="card-footer" *ngFor="let account of accounts">
                                <span style="float: left;">На Вашем счету: 
								 <span class="blue">{{account.drs_balance}} DRS</span>
								 <span class="blue">{{account.dusd_balance}} DUSD</span>
								</span>
                <span style="float: right;">Ваш кошелек: <span
                  class="blue">{{account.name}}</span></span>
              </div>
            </ng-container>
            <div class="card-footer" *ngIf="checkerr === 'invalid'">
              <span class="red">Неверный публичный ключ</span>
            </div>
            <div class="card-footer" *ngIf="checkerr === 'no_account'">
              <span class="red">Не найден кошелек :(</span>
            </div>
          </div>
        </ng-container>
		
        <ng-container *ngIf="!busy">
            <div style="margin-top: 30px">
             <div class="row" style="justify-content: center;">
              <div class="col-md-10">
                <button class="btn btn-inverse btn-block" style="margin-bottom: 0px;" (click)="existingWallet = true">
                  Войти в существующий кошелек
                </button>
				<!--
                <button class="btn btn-inverse btn-block" (click)="importBKP = true">
                  Импорт из резервной копии
                </button>
				-->
              </div>
              <div class="col-md-10">
                <button class="btn btn-inverse btn-block" (click)="newWallet = true">
                  Создать кошелек DARS
                </button>
                <button class="btn btn-inverse btn-block" (click)="verifyPanel = true">
                  Проверить баланс кошелька
                </button>
              </div>
            </div>
			<!--
            <div class="row" style="justify-content: center;">
              <div class="col-md-10">
                <button class="btn btn-inverse btn-block" (click)="newKeys = true">
                  Создать ключи
                </button>
              </div>
            </div>
			-->
          </div>

          <div class="card check-card" *ngIf="verifyPanel">
            <div class="card-block">
			  <span style="float: right;"><fa-icon [icon]="['fas', 'times-circle']" (click)="verifyPanel = false"></fa-icon></span>
              <div class="info">Здесь Вы можете быстро проверить любой DARS-кошелек</div>
              <mat-form-field class="public-input">
                <input matInput type="text" placeholder="Публичный ключ DARS" [(ngModel)]="publicDARS">
                <mat-hint align="start">
                  Ctrl+C и Ctrl+V для копирования и вставки
                </mat-hint>
              </mat-form-field>
              <button class="btn btn-inverse btn-check" (click)="checkAccount()" [disabled]="!publicDARS">
                Проверить
              </button>
            </div>
            <ng-container *ngIf="checkerr === ''">
              <div class="card-footer" *ngFor="let account of accounts">
                <span style="float: left;">На счету кошелька <span class="blue">{{account.name}}</span>:</span><br>
				<span style="float: right;" class="blue">{{account.drs_balance}} DRS</span><br>
				<span style="float: right;" class="blue">{{account.dusd_balance}} DUSD</span>
              </div>
            </ng-container>
            <div class="card-footer" *ngIf="checkerr === 'non_active'">
              <span class="red">Этот ключ неактивный!</span>
            </div>
            <div class="card-footer" *ngIf="checkerr === 'invalid'">
              <span class="red">Неверный публичный ключ!</span>
            </div>
            <div class="card-footer" *ngIf="checkerr === 'no_account'">
              <span class="red">Не найден кошелек!</span>
            </div>
           </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!--IMPORT EXISTING WALLET-->
<div class="modalWrapper butStartCor">
<clr-wizard #wizardexists [(clrWizardOpen)]="existingWallet" [clrWizardSize]="'md'">
  <clr-wizard-title>Войти в существующий кошелек</clr-wizard-title>

  <clr-wizard-button [type]="'previous'">Назад</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Далее</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Завершить</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="!pvtform.valid"
                   (clrWizardPageOnCommit)="verifyPrivateKey(pkField.value, '')"
                   [clrWizardPagePreventDefault]="true"
                   (clrWizardPageOnCancel)="doCancel()">
    <ng-template clrPageTitle>Шаг 1</ng-template>
    <h5 style="color: #a7a7a7;">Укажите Ваш существующий <strong>АКТИВНЫЙ</strong> приватный ключ</h5>
    <form [formGroup]="pvtform">
      <mat-form-field class="mt-1" style="width: 100%;">
        <input #pkField matInput type="password" formControlName="private_key"
               placeholder="Активный приватный ключ DARS" [(ngModel)]="importactivepk">
        <fa-icon matSuffix *ngIf="pkField.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="pkField.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="pkField.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="pkField.type = 'password'"></fa-icon>
        <mat-hint align="start">
          Ctrl+C и Ctrl+V для копирования и вставки
        </mat-hint>
        <mat-error *ngIf="!pvtform.valid">
          {{this.errormsg}}
        </mat-error>
      </mat-form-field>
    </form>
  </clr-wizard-page>
  <clr-wizard-page [clrWizardPageNextDisabled]="!passform.valid" (clrWizardPageOnLoad)="dars.getConstitution()">
    <ng-template clrPageTitle>Шаг 2</ng-template>
    <form [formGroup]="passform">
      <h5>Задайте Ваш пароль. Пароль будет использоваться для <strong>подтверждения транзакций.</strong></h5>
      <mat-form-field class="mt-1">
        <input matInput #pass type="password" placeholder="Пароль" (blur)="passCompare()"
               [formControl]="passform['controls'].matchingPassword['controls']['pass1']">
        <fa-icon matSuffix *ngIf="pass.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="pass.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="pass.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="pass.type = 'password'"></fa-icon>
        <mat-hint align="start">
          Минимум 10 символов
        </mat-hint>
        <mat-hint align="end">{{pass.value.length}} / 10+</mat-hint>
      </mat-form-field>
      <mat-form-field style="margin-top: 19px">
        <input matInput #pass2 type="password" placeholder="Подтверждение пароля" (blur)="passCompare()"
               [formControl]="passform['controls'].matchingPassword['controls']['pass2']">

        <fa-icon matSuffix *ngIf="pass2.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="pass2.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="pass2.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="pass2.type = 'password'"></fa-icon>

        <mat-error *ngIf="!passmatch">
          Пароли не совпадают!
        </mat-error>
      </mat-form-field>
    </form>
  </clr-wizard-page>
  <clr-wizard-page [clrWizardPageNextDisabled]="!agree">
    <ng-template clrPageTitle>Шаг 3</ng-template>
    <h5 style="color: #bebebe;">Правила использования DARS</h5>
    <div>{{dars.constitution}}</div>
    <mat-checkbox [(ngModel)]="agree">Я соглашаюсь с Правилами</mat-checkbox>
  </clr-wizard-page>
  <clr-wizard-page (clrWizardPageOnCommit)="importCredentials()">
    <ng-template clrPageTitle>Шаг 4 - необязательный</ng-template>
    <h5 style="margin-bottom: 15px">
      <span style="color: #c3c3c3;">Код блокировки экрана</span><br>
      Вы хотите задать небольшой код для разблокировки экрана?
    </h5>
    <h5 style="margin-bottom: 18px">Этот код <strong>НЕ ЗАМЕНЯЕТ</strong> Ваш пароль для подтверждения транзакций</h5>
    <mat-checkbox [(ngModel)]="lockscreen">Установить код</mat-checkbox>
    <mat-form-field class="mt-1" *ngIf="lockscreen">
      <input matInput #pin1 type="password" placeholder="Код" [(ngModel)]="pin">
      <fa-icon matSuffix *ngIf="pin1.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
               (click)="pin1.type = 'text'"></fa-icon>
      <fa-icon matSuffix *ngIf="pin1.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
               (click)="pin1.type = 'password'"></fa-icon>
      <mat-hint align="start">
        Код может быть любым
      </mat-hint>
    </mat-form-field>
  </clr-wizard-page>
</clr-wizard>
</div>
<!--IMPORT EXISTING WALLET END-->

<!--CREATE NEW WALLET START-->
<div class="modalWrapper">
<clr-wizard #wizardnew [(clrWizardOpen)]="newWallet" clrWizardSize="lg" (clrWizardOnFinish)="doWalletFinish()">
  <clr-wizard-title>Создать кошелек DARS</clr-wizard-title>
  <clr-wizard-button [type]="'previous'">Назад</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Далее</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Завершить</clr-wizard-button>
  
  <clr-wizard-page [clrWizardPageNextDisabled]="!accountname_valid"
                   [clrWizardPagePreventDefault]="true"
                   (clrWizardPageOnCommit)="verifyAccountName(true)"
                   (clrWizardPagePrevious)="wizardnew.previous()"
                   (clrWizardPageOnCancel)="resetAndClose()">
    <ng-template clrPageTitle>Создайте имя кошелька</ng-template>
    <h5 style="color: #a9a9a9">Введите имя Вашего кошелька в блокчейне DARS. Это необходимо для идентификации Вашего аккаунта и совершения удобных переводов.</h5>
    <h5 class="mt-0">Имя должно содержать строго 12 символов. Допускается использовать только маленькие английские буквы a-z и числа 1-5</h5>
    <mat-form-field class="mt-1" style="display: block; width: 180px">
      <input matInput #account placeholder="имя кошелька DARS" maxlength="12" (keyup.enter)="verifyAccountName(false)" (input)="changeAccountName()"
             [(ngModel)]="accountname">
      <mat-hint align="end">{{account.value.length}} / 12</mat-hint>
    </mat-form-field>
    <p class="error">{{accountname_err}}</p>
    <p *ngIf="account.value.length === 12 && accountname_valid" class="blue">
      Имя <strong>{{accountname}}</strong> cейчас свободно, нажмите кнопку <strong>ДАЛЕЕ</strong> для продолжения.
    </p>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="activepub === '' || ownerpub === '' || !agreeKeys">
    <ng-template clrPageTitle>Сохраните ключи</ng-template>
    <h5>Выбранный кошелек: <span class="blue">{{accountname}}</span></h5>
    <h5>Пожалуйста введите ниже Ваши публичные ключи или нажмите кнопку Создать ключи. Они будут необходимы для дальнейшей работы с блокчейном.</h5>
    
	<button class="btn btn-primary" (click)="generateKeys()">Создать ключи</button>
	
    <mat-form-field class="mt-1" style="width: 470px">
      <input matInput placeholder="Публичный ключ ВЛАДЕЛЬЦА" [(ngModel)]="ownerpub">
      <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(ownerpub, 'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
      <mat-hint>Ctrl+C и Ctrl+V для копирования и вставки</mat-hint>
    </mat-form-field>
    <mat-form-field class="mt-1" style="width: 470px">
      <input matInput placeholder="АКТИВНЫЙ публичный ключ" [(ngModel)]="activepub">
      <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(activepub, 'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
      <mat-hint>Ctrl+C и Ctrl+V для копирования и вставки</mat-hint>
    </mat-form-field>

    <fa-layers *ngIf="generating" class="blue fa-fw">
      <fa-icon [icon]="['fas','spinner']" size="2x" [spin]="true"></fa-icon>
    </fa-layers>

    <ng-container *ngIf="generated">
      <mat-form-field class="mt-1" style="width: 470px">
        <input matInput placeholder="Приватный ключ ВЛАДЕЛЬЦА" [(ngModel)]="ownerpk">
        <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(ownerpk, 'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
        <mat-hint>Ctrl+C и Ctrl+V для копирования и вставки</mat-hint>
      </mat-form-field>
      <mat-form-field class="mt-1" style="width: 470px">
        <input matInput placeholder="АКТИВНЫЙ приватный ключ" [(ngModel)]="activepk">
        <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(activepk, 'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
        <mat-hint>Ctrl+C и Ctrl+V для копирования и вставки</mat-hint>
      </mat-form-field>
	  
      <button class="btn btn-primary" style="margin-top: 20px" (click)="cc('Ключи владельца: публичный - ' + ownerpub + '\n' +
												  '                 приватный - ' + ownerpk + '\n' +
												  'Активные ключи:  публичный - ' + activepub + '\n' + 
												  '                 приватный - ' + activepk, 
												  'Все ключи скопированы в буфер обмена!', 
												  'Пожалуйста, сохраните их в безопасном месте.')">
	   Скопировать все
	  </button>	  
    </ng-container>
    <br><br>  
	<mat-checkbox [(ngModel)]="agreeKeys">Я сохранил все ключи от своего кошелька DARS в безопасном месте</mat-checkbox>
  </clr-wizard-page>
    
  <clr-wizard-page (clrWizardPageOnLoad)="makePayload(); makeMemo();">
    <ng-template clrPageTitle>Оплатите регистрацию</ng-template>
    <h5 style="color: #a9a9a9">В системе DARS создание нового аккаунта стоит небольшое количество токенов DRS, которые помогают получить необходимые ресурсы.</h5>
    <h5 style="color: #a7a7a7;">Пожалуйста, совершите перевод соответствующего кол-ва токенов DRS согласно расчетам ниже:</h5>
    <div style="color: white; margin-top: 15px"><strong>Использование процессора:</strong><span class="blue"> 0.75 DRS</span></div>
    <div style="color: white;"><strong>Использование сети:</strong><span class="blue"> 0.25 DRS</span></div>
    <div style="color: white;"><strong>Использование памяти:</strong><span style="color: #a9a9a9"> 0.25 DRS</span></div>
    <div style="border-bottom: 1px solid #0079b8; margin: 10px 0px;"></div>
    <div style="color: white;"><strong>Общая стоимость:</strong><span class="blue"> {{0.5 | number: '1.0-8'}} DRS</span></div>
    <div style="margin-top: 5px; color: #a9a9a9;">*Если Вы переведете больше токенов DRS, чем указано в поле "Общая стоимость" - то остаток токенов будет зачислен на счет нового аккаунта</div>
	<div style="margin-top: 20px;margin-bottom: 20px;"><mat-checkbox [(ngModel)]="hastokens">У меня есть токены DRS</mat-checkbox></div>
	<ng-container *ngIf="!hastokens">
	 <img src="assets/paysystem.png" width="100%" height="100%">
    </ng-container>
	<ng-container *ngIf="hastokens">
     <h5 style="color: #a7a7a7;">Выполните перевод токенов DRS с такими реквизитами:</h5>
     <div class="card settings-card">
      <div class="card-block settings-section">
        <div style="color: #a7a7a7;"><strong>КОЛИЧЕСТВО:</strong>
          <mat-form-field class="mt-8" style="width: 142px;">
            <input matInput style="padding-top: 8px;" type="text" value="{{(0.5).toFixed(8)}} DRS" readonly>
            <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc((0.5).toFixed(8), 'Количество  скопировано в буфер обмена!', '')"></fa-icon>
          </mat-form-field>
        </div>
        <div style="color:#a7a7a7;"><strong>ПОЛУЧАТЕЛЬ:</strong>
          <mat-form-field class="mt-8" style="width: 132px;">
            <input matInput style="padding-top: 8px;" type="text" value="dars.signup" readonly>
            <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc('dars.signup', 'Получатель скопирован в буфер обмена!', '')"></fa-icon>
          </mat-form-field>
        </div>
        <div style="color: #a7a7a7;"><strong>КОММЕНТАРИЙ ПЛАТЕЖА:</strong>
        <mat-form-field class="mt-8" style="width: 100%;">
          <textarea  matInput type="text" rows="3" style="color: white; font-size: 12px;" value="{{memo}}" readonly></textarea>
          <mat-hint>Ctrl+C для копирования
            <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(memo, 'Комментарий платежа скопирован в буфер обмена!', '')"></fa-icon>
          </mat-hint>
        </mat-form-field>
        </div>
      </div>
    </div>
   </ng-container>

  </clr-wizard-page>
</clr-wizard>
</div>
<!--CREATE NEW WALLET END-->

<clr-wizard #wizardkeys [(clrWizardOpen)]="newKeys" clrWizardSize="lg">
  <clr-wizard-title>Создать ключи</clr-wizard-title>
  <clr-wizard-button [type]="'cancel'">Отмена</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Назад</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Далее</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Завершить</clr-wizard-button>


  <clr-wizard-page [clrWizardPageNextDisabled]="ownerpub2 === '' || ownerpk2 === '' || !agreeKeys2">
    <ng-template clrPageTitle>Создание новых ключей</ng-template>
    <h5>Пожалуйста нажмите кнопку <span style="cursor:pointer;" class="blue" (click)="generateKeys()">Создать новую пару ключей</span></h5>
    <mat-form-field class="mt-1" style="width: 470px">
      <input matInput placeholder="Публичный ключ" [(ngModel)]="ownerpub2">
      <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(ownerpub2,'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
      <mat-hint>Ctrl+C и Ctrl+V для копирования и вставки</mat-hint>
    </mat-form-field>

    <mat-form-field class="mt-1" style="width: 470px">
      <input matInput placeholder="Приватный ключ" [(ngModel)]="ownerpk2">
      <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(ownerpk2, 'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
      <mat-hint>Сtrl+С и Ctrl+V для копирования и вставки</mat-hint>
    </mat-form-field>

    <button class="btn btn-primary" style="margin-top:20px;" (click)="generateNKeys()">Создать новую пару ключей</button>

    <fa-layers *ngIf="generating2" class="blue fa-fw">
      <fa-icon [icon]="['fas','spinner']" size="2x" [spin]="true"></fa-icon>
    </fa-layers>
    <br/>
    <ng-container *ngIf="generated2" style="clear:both;">
      <mat-checkbox [(ngModel)]="agreeKeys2">Я сохранил все мои ключи в безопасное место</mat-checkbox>
    </ng-container>
  </clr-wizard-page>
</clr-wizard>
