<!--<toaster-container [toasterconfig]="settings"></toaster-container>-->
<div class="container" style="height: 100%; overflow-x: hidden;">
  <div class="row animate">
    <div class="col-lg-12">
      <div class="card info-card">
        <div class="card-block" style="padding: 0;">
          <p-accordion class="map">
            <p-accordionTab header="Карта размещения блок-продюсеров">
              <div echarts [options]="options" [merge]="updateOptions"
                   [autoResize]="true" [initOpts]="initOptions"
                   class="bp-map">
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" style="height: 100%; opacity: 0.85" *ngIf="loadingProducers">
    <div class="col-lg-12 text-center flex-column animate" style="padding: 39px; align-items: center;">
      <ng-container>

        <fa-layers class="mt-2 mb-1">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x" style="color:#0094d2;"></fa-icon>
        </fa-layers>
        <br>

        <div style="color:#0094d2; padding-left: 17px; font-size: 18px; margin-top: 10px">ЗАГРУЗКА...</div>
      </ng-container>
    </div>
  </div>

  <div class="row flex-items-xs-between row_main-adaptive-40" style="width: 100%; height: 100%;">
    <div class="text-center flex-column animate" *ngIf="!loadingProducers" style="padding: 5px; width: 100%; height: 100%;">
	  <div class="text-center" style="color: white;">
	   Голосуя за блок-продюсеров, Вы отдаете свои токены DRS в аренду. Кроме того, что Вы получите дивиденды когда Вашими токенами будут пользоваться другие участники блокчейна для проведения операций - Вы также поддержите выбранного Вами блок-продюсера. Вы можете вернуть токены из аренды в любой момент.
	  </div>
      <p-table #producersTable 
				   [value]="producers" 
				   [globalFilterFields]="['name','account','place']"
                   [responsive]="true" 
				   dataKey="account" 
				   [totalRecords]="totalProducers" 
				   [alwaysShowPaginator]="false"
                   class="bps-table"
				   [paginator]="true" 
				   [rows]="50">
				   
        <ng-template pTemplate="caption">
          <div class="row flex-items-xs-between">
            <div class="col-lg-3 col-md-6 text-right">
              <mat-form-field class="searchbar">
                <input type="text" matInput placeholder="Поиск..."
                       (input)="producersTable.filterGlobal($event.target.value, 'contains')">
                <fa-icon matSuffix [icon]="['fas', 'search']" size="lg"></fa-icon>
              </mat-form-field>
            </div>
          </div>
        </ng-template>
		
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'position'" class="text-center" style="width: 20px">
              #
			  <br>
              <p-sortIcon [field]="'position'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'name'" class="text-center" style="width: 120px">
              Имя
			  <br>
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'account'" class="text-center" style="width: 50px">
              Кошелек
			  <br>
              <p-sortIcon [field]="'account'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'place'" class="text-center" style="width: 200px">
              Расположение
			  <br>
              <p-sortIcon [field]="'place'"></p-sortIcon>
            </th>
            <th class="text-center" style="width: 150px">
              Сайт и соц.сеть
            </th>
            <th [pSortableColumn]="'total_votes'" class="text-center" style="width: 70px;">
              Голосов,%
			  <br>
              <p-sortIcon [field]="'total_votes'"></p-sortIcon>
            </th>
            <th class="text-right expandable" style="width: 120px;">
            </th>
          </tr>
        </ng-template>
		
        <ng-template pTemplate="body" let-item let-expanded="expanded" let-index="rowIndex">
          <tr [pSelectableRow]="item" class="tr-canexpand" [pRowToggler]="item" *ngIf="!item.dup">
            <td class="text-center" style="width: 20px">
              {{item.position}}
            </td>
            <td class="text-center" style="width: 120px">
              {{item.name}}
            </td>
            <td class="text-center" style="width: 50px">
              {{item.account}}
            </td>
            <td class="text-center" style="width: 200px">
              {{item.place}}
            </td>
            <td class="text-center" style="width: 150px">
              <ul>
                <li class="social-icon" *ngIf="item.website">
                  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top" (click)="extOpen(item.website)">
                    <fa-icon [icon]="['fas', 'globe']" size="lg"></fa-icon>
					<span class="tooltip-content tooltip-content_adaptive">Веб-сайт</span>
                  </a>
                </li>
                <li class="social-icon" *ngIf="item.social['telegram']">
                  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top" (click)="extOpen('https://t.me/' + item.social['telegram'])">
                    <fa-icon [icon]="['fab', 'telegram-plane']" size="lg"></fa-icon>
					<span class="tooltip-content tooltip-content_adaptive">Телеграм</span>
                  </a>
                </li>
                <li class="social-icon" *ngIf="item.social['twitter']">
                  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top" (click)="extOpen('https://twitter.com/' + item.social['twitter'])">
                    <fa-icon [icon]="['fab', 'twitter-square']" size="lg"></fa-icon>
					<span class="tooltip-content tooltip-content_adaptive">Твиттер</span>
                  </a>
                </li>
                <li class="social-icon" *ngIf="item.social['youtube']">
                  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top" (click)="extOpen('https://www.youtube.com/channel/' + item.social['youtube'])">
                    <fa-icon [icon]="['fab', 'youtube-square']" size="lg"></fa-icon>
					<span class="tooltip-content tooltip-content_adaptive">YouTube</span>
                  </a>
                </li>
                <li class="social-icon" *ngIf="item.social['facebook']">
                  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-left" (click)="extOpen('https://www.facebook.com/' + item.social['facebook'])">
                   <fa-icon [icon]="['fab', 'facebook-square']" size="lg"></fa-icon>
 				   <span class="tooltip-content tooltip-content_adaptive">Фейсбук</span>
                 </a>
                </li>
                <li class="social-icon" *ngIf="item.social['github']">
                  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-left" (click)="extOpen('https://github.com/' + item.social['github'])">
                   <fa-icon [icon]="['fab', 'github-square']" size="lg"></fa-icon>
 				   <span class="tooltip-content tooltip-content_adaptive">ГитХаб</span>
                  </a>
                </li>
              </ul>
            </td>
            <td class="text-center" style="width: 70px">
              {{item.total_votes}}
            </td>
            <td class="text-center expandable" style="width: 120px">
			  <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="doVote(item.account)">
			   <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>
               Голосовать
			  </a>
            </td>
          </tr>
        </ng-template>
		
      </p-table>
    </div>
  </div>
</div>
<div class="voteModal">
<clr-modal [(clrModalOpen)]="sendModal">
  <h3 class="modal-title text-white">
   Отправитель: <span class="blue">{{ fromAccount }}</span><br>
   Получатель: <span class="blue">{{ toAccount }}</span><br>
   Назначение: <span class="blue">{{ paymentComment }}</span><br>
  </h3>
  <div class="modal-body">
   <p style="margin-bottom: 20px;">Для подтверждения операции введите дату окончания, количество токенов, пароль и нажмите кнопку ПОДТВЕРДИТЬ</p>
  </div>
  <div class="modal-footer">
    <form [formGroup]="confirmForm" class="confirmForm">
      <mat-form-field class="field-width">
       <input matInput #refunddate type="date" min="{{minRefundDate}}" placeholder="Дата окончания" formControlName="refunddate">
      </mat-form-field>
      <mat-form-field class="field-width">
       <input matInput #amount type="text" [textMask]="{mask: numberMask}" placeholder="Количество токенов" formControlName="amount" (blur)="checkAmount()">
       <mat-error align="start" *ngIf="amounterror !== ''">
        {{amounterror}}
       </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput #pass type="password" (keyup.enter)="transfer()" placeholder="Пароль" formControlName="pass">
        <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
          {{wrongpass}}
        </mat-hint>
      </mat-form-field>
      <br clear="all"/>
      <button type="button" class="btn btn-info-outline" style="margin-top: 12px;" (click)="transfer()" [disabled]="!confirmForm.valid || busy">
        Подтвердить
        <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
      </button>
    </form>
  </div>
</clr-modal>
</div>
