<div class="container" style="height: 100%">
  <div class="row animate" style="padding-top: 15px;">
    <div class="col-lg-6">
      <h1><span class="white">О нас </span><span class="blue">DARS</span></h1>
	  <p class="paragraph">DARS - это блокчейн платформа для создания децентрализованных приложений реферального маркетинга, которая в корне изменит мировой сетевой бизнес (с товарооборотом в $400 млрд. в год).</p>
	  <p class="paragraph">Это удобная операционная система с набором заранее проработанных смарт-контрактов, обеспечивающая простой и быстрый запуск маркетинг-планов любой сложности. DARS является готовым решением для MLM компаний, а также для традиционного бизнеса, который использует реферальные системы продвижения.</p>
	  <p class="paragraph">Благодаря блокчейн технологии, мы сможем отделить честный, прозрачный и прибыльный сетевой маркетинг от финансовых пирамид и мошеннических схем. Любой человек легко сможет проверить честный ли компенсационный план у той или иной компании.</p>
	  <p class="paragraph">Просто представьте, как преобразится сетевой бизнес, как много новых людей присоединится, если в MLM не станет мошенников и пирамид, а компании всегда будут выполнять условия контрактов!</p>
	  <p class="paragraph">Для получения дополнительной информации о проекте посетите <a (click)="extOpen('https://dars.one')" class="website">dars.one</a></p>  
    </div>
    <div class="col-lg-6">
      <img src="assets/about_dars2.png" style="border-radius: 5px; width: 100%;">
    </div>
  </div>
</div>