.container-fluid, .send-row {
    height: 100%;
}

.balance {
    font-size: 21px;
    margin-bottom: 19px;
}

.dars {
    font-size: 21px;
    margin-bottom: 19px;
    color: #0094d2;
}

.dollar {
    font-size: 26px;
}

/deep/ .mat-form-field {
    display: block !important;
}

.field-width {
    /*width: 100%;*/
    width: 262px;
}
.ng-invalid .field-width{
    width: 100%;
}

form {
    display: inline-block;
}

/deep/ .mat-form-field-appearance-legacy .mat-hint {
    color: #b1b1b1;
}

/*contact's panel*/
.contacts-pad {
    padding: 0rem 1rem 0rem 1rem;
}

.letter-divider {
    border-bottom: 1px solid #3f3f3f;
    border-top: 1px solid #3f3f3f;
}

.letter {
    color: #e3e3e3;
    padding-left: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

li {
    list-style-type: none;
    border-bottom: 1px solid #3f3f3f;
    cursor: pointer;
}

li:hover {
    background-color: #1f1f1f;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.last-item {
    border-bottom: none;
}

.contacts-panel {
    background-color: #191919;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

.contacts-panel-header {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #3f3f3f;
}

.contacts-panel-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.newContactBtn {
    background-color: #00000059;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-top: 1px solid #3f3f3f;
    margin-bottom: 0;
}
/*contact's panel end*/

.mat-option {
    line-height: 24px;
    height: 54px;
    padding: 30px 16px;
}

.name {
    color: white;
}

.account {
    font-size: 14px;
}

mat-option:not(.last) {
    border-bottom: 1px solid #404040;
}

/deep/ .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background: #3a3a3a;
}

.btn-max {
    margin: -10px 0 .25rem 0;
    min-width: unset;
}

.searchform {
    padding-top: 0;
    width: 100%;
}

.confirmForm {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
}

.error {
    color: #f44336 !important;
}

.deleteBtn, .editBtn {
  min-width: 0;
}
.dars.dars_cor{
    padding-top: 10px;
    margin-bottom: 15px;
}
.modal-title.modal-title_adaptive-400{
    font-size: 18px;
}
/deep/ .mat-form-field-label-wrapper{
    top: -5px;
}
/deep/ .searchform .mat-form-field-suffix{
    transform: translateY(-3px);
}
/deep/ .contacts-panel-header_marg{
    margin-right: -.5rem !important;
    margin-left: -.5rem !important;
    display: flex;
    align-items: center;
}
/deep/ .deleteBtn_margCor{
    margin-right: 0px !important;
}
/deep/ .toggle-switch, .toggle-switch label{
    height: 2rem;
}
/deep/ ._overflow-cor{
    overflow: hidden;
}
/deep/ .tokenWidthCor .mat-form-field-infix{
    width: 100% !important;
}
/deep/ .tokenWidthCor .mat-form-field-infix .mat-input-element{
    padding-right: 15px;
}
/deep/ .tokenWidthCor .mat-form-field-flex{
    position: relative;
}
/deep/ .tokenWidthCor .mat-form-field-flex .mat-form-field-suffix{
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 20px;
}
/deep/ @media screen and (max-width: 769px){
    .main-container .content-container .content-area{
        padding-bottom: 10px;
    }
    .field-width[_ngcontent-c11]{
        margin-top: 0px !important;
    }
    .row_adaptive-769{
        overflow: auto;
    }
}
/deep/ @media screen and (max-width: 992px){
    ._flex-991{
        display: flex;
    }
    ._align-center-991{
        align-items: center;
    }
    ._fontSizeCor-991{
        font-size: 24px;
        line-height: 27px;
    }
}
/deep/ @media screen and (max-width: 650px){
    .btn_adaptive-650{
        margin-left: 0px !important;
        display: block;
        width: 100%;
    }
    .btn_adaptiveMarg-650{
        margin-bottom: 10px !important;
    }
    .modal-footer_adaptive-650{
        flex-direction: column;
    }
}
/deep/ @media screen and (max-width: 600px){
    .content {
        height: calc(100% - 108px);
    }
}
/deep/ @media (pointer:coarse){
    .content {
        height: calc(100% - 185px);
    }
}
/deep/ @media only screen and (orientation: landscape){
    .content {
        height: calc(100% - 108px);
    }
}
/deep/ @media screen and (max-width: 576px){
    .delPopapWrap .modal-content>div{
        padding-right: 0px;
    }
}
/deep/ @media screen and (max-width: 400px){
    .modal-title.modal-title_adaptive-400{
        font-size: 15px;
    }
}
/deep/ @media not all and (min-resolution:.001dpcm){
    @supports (-webkit-appearance:none) {
        @media (pointer:coarse) {
            .cdk-overlay-pane{
                transform: translateX(23px);
            }
        }
    }
}
