<!--<toaster-container [toasterconfig]="settings"></toaster-container>-->
<div class="container-fluid" style="overflow:hidden;">
  <div class="row flex-items-xs-between send-row row_adaptive-769">
    <div class="col-lg-6 text-center animate" style="align-self: center;">
      <div class="content-area" style="padding-top: 0; overflow-x: hidden;">
        <ng-container *ngIf="sendForm.value.token === 'DRS'">
          <div class="dars dars_cor">{{DRSBalance | number : '1.8'}} DRS</div>
        </ng-container>
        <ng-container *ngIf="sendForm.value.token === 'DUSD'">
          <div class="dars dars_cor">{{DUSDBalance | number : '1.2'}} DUSD</div>
        </ng-container>
        <form [formGroup]="sendForm">
          <div class="form-sendWrap">
            <mat-form-field class="example-full-width tokenWidthCor">
              <input type="text" placeholder="Токен" matInput formControlName="token" [matAutocomplete]="auto1">
              <fa-icon matSuffix [icon]="['fas', 'caret-down']"></fa-icon>
              <mat-autocomplete #auto1="matAutocomplete">
                <mat-option value="DRS">
                  DRS
                </mat-option>
                <mat-option value="DUSD">
                  DUSD
                </mat-option>
                <mat-option *ngFor="let token of aService.tokens" [value]="token.name">
                  {{ token.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="field-width" style="margin-top: 12px; margin-bottom: 12px">
              <input #toAccount matInput type="text" formControlName="to"
                     placeholder="Кошелек получателя" maxlength="12" class="text-lowercase"
                     [matAutocomplete]="auto" (blur)="checkContact(toAccount.value); checkAccountName();">
              <mat-error align="start" *ngIf="errormsg !== ''">
                {{errormsg}}
              </mat-error>
              <mat-hint align="end">{{toAccount.value.length}} / 12</mat-hint>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let contact of filteredContacts | async; let last = last"
                            [value]="contact.account" [class.last]="last">
                  <div class="name">{{ contact.name }}</div>
                  <div class="account">{{ contact.account }}</div>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="toggle-switch text-left">
              <input type="checkbox" id="addtoContacts" formControlName="add">
              <label for="addtoContacts" class="gray">Добавить в список контактов?</label>
            </div>
            <mat-form-field class="alias" *ngIf="add">
              <input matInput formControlName="alias" type="text" placeholder="Имя нового контакта">
            </mat-form-field>
            <mat-form-field class="field-width">
              <input matInput formControlName="amount" [textMask]="{mask: numberMask}" type="text" placeholder="Количество ({{selectedTokenName}})" (blur)="checkAmount();">
              <button mat-button matSuffix mat-icon-button class="btn btn-inverse btn-sm btn-max" (click)="setMax()">
                ВСЕ
              </button>
              <mat-error align="start" *ngIf="amounterror !== ''">
                {{amounterror}}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="field-width" style="margin-bottom: 12px;">
              <input matInput #message maxlength="256" formControlName="memo" type="text"
                     placeholder="Комментарий ({{memoMsg}})">
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
          </div>
          <button class="btn btn-block btn-info-outline" (click)="openSendModal()"
                  [disabled]="!sendForm.valid">
            <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>&nbsp;&nbsp;ОТПРАВИТЬ
          </button>
        </form>
      </div>
    </div>
    <div class="col-lg-6 contacts-panel flex-nowrap _overflow-cor">
      <div class="row flex-items-xs-between contacts-pad contacts-panel-header contacts-panel-header_marg">
        <div class="col-xs-6 _flex-991 _align-center-991"><h1 class="gray mt-0 _fontSizeCor-991">Мои контакты</h1></div>
        <div class="col-xs-6">
          <form [formGroup]="searchForm" class="searchform">
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Поиск..." formControlName="search">
              <fa-icon matSuffix [icon]="['fas', 'search']" size="lg"></fa-icon>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="contacts-panel-body">
        <div class="contacts-pad" style="font-size: 17px;" *ngIf="contacts.length === 0">
          У Вас еще нет ни одного контакта :(
        </div>
        <ng-container *ngFor="let contact of searchedContacts | async; let last = last">
          <div class="row letter-divider" *ngIf="contact.type === 'letter'">
            <div class="col-xs-12"><h5 class="mt-0 letter">{{contact.name}}</h5></div>
          </div>
          <ul *ngIf="contact.type === 'contact'" (click)="selectContact(contact)">
            <li class="contacts-pad" [class.last-item]="last">
              <div class="row justify-content-between">
                <div class="col-lg-8 col-sm-6 col-md-7 col-xs-7">
                  <h5 class="gray mt-0">{{contact.name}}</h5>
                  <div>{{contact.account}}</div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-5 col-xs-5" style="text-align: right">
                  <button class="btn btn-info-outline editBtn" (click)="openEditContactModal(contact)">
                    <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
                  </button>
                  <button class="btn btn-danger-outline deleteBtn deleteBtn_margCor" (click)="openDeleteContactModal(contact)">
                    <fa-icon [icon]="['fas', 'times']"></fa-icon>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </ng-container>
      </div>
      <div class="contacts-panel-footer">
        <button class="btn btn-inverse btn-block newContactBtn" (click)="newContactModal = true">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>&nbsp;&nbsp;НОВЫЙ КОНТАКТ
        </button>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="sendModal">
  <h3 class="modal-title text-white">
   Отправитель: <span class="blue">{{ fromAccount }}</span><br>
   Получатель: <span class="blue">{{ sendForm.value.to }}</span><br>
   Сумма: <span class="blue">
    <ng-container *ngIf="sendForm.value.token === 'DRS'">
    {{ sendForm.value.amount | number : '1.8' }}    
    </ng-container>
    <ng-container *ngIf="sendForm.value.token === 'DUSD'">
    {{ sendForm.value.amount | number : '1.2' }}    
    </ng-container> 
	{{sendForm.value.token}}</span><br>
   Комиссия: <span class="blue">
    {{ sendForm.value.comission | number : '1.8' }} DRS   
	</span><br>
   <span class="blue" style="font-size: 12px;">Для подтверждения операции введите пароль и нажмите кнопку ПОДТВЕРДИТЬ</span><br>
   <ng-container *ngIf="needRent">
    <span class="error" style="font-size: 12px;">На Вашем балансе недостаточно токенов DRS для выполнения операции! Установите переключатель ВЗЯТЬ ТОКЕНЫ В АРЕНДУ для проведения данной операции за счет стека токенов, которые отданы в аренду</span>
   </ng-container>	
  </h3>
  <div class="modal-footer">
    <form [formGroup]="confirmForm" class="confirmForm">
      <ng-container *ngIf="needRent">
	   <div class="toggle-switch text-left">
        <input type="checkbox" id="doRent" formControlName="dorent">
        <label for="doRent" class="blue">Взять токены в аренду?</label>
       </div>
      </ng-container>	
      <mat-form-field>
        <input matInput #pass type="password" (keyup.enter)="transfer()" placeholder="Пароль" formControlName="pass">
        <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
          {{wrongpass}}
        </mat-hint>
        <br clear="all"/>
      </mat-form-field>
      <button type="button" class="btn btn-info-outline" style="margin-top: 12px;" (click)="transfer()" [disabled]="!confirmForm.valid || busy || (needRent && !confirmForm.value.dorent)">
        Подтвердить
        <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
      </button>
    </form>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="newContactModal" [clrModalSize]="'sm'">
  <h3 class="modal-title text-white">
    <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>&nbsp;&nbsp;Новый контакт
  </h3>
  <div class="modal-body">
    <form [formGroup]="contactForm">
      <mat-form-field>
        <input matInput #addAccount type="text" formControlName="account" placeholder="Кошелек DARS"
               class="text-lowercase" maxlength="12" (blur)="checkAccountModal()">
        <mat-error align="start" *ngIf="adderrormsg !== ''">
          {{adderrormsg}}
        </mat-error>
        <mat-hint align="end">{{addAccount.value.length}} / 12</mat-hint>
      </mat-form-field>
	  &nbsp;
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Имя контакта">
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer" style="padding: 0.5rem 0 0 0;">
    <button type="submit" class="btn btn-info-outline" (click)="addContact()" [disabled]="!contactForm.valid">
      Добавить
    </button>
  </div>
</clr-modal>

<div class="delPopapWrap">
<clr-modal [(clrModalOpen)]="editContactModal" [clrModalSize]="'sm'">
  <h3 class="modal-title text-white">
    <fa-icon [icon]="['fas', 'user-edit']"></fa-icon>&nbsp;&nbsp;Редактировать контакт
  </h3>
  <div class="modal-body">
    <form [formGroup]="contactForm">
      <mat-form-field>
        <input matInput type="text" formControlName="account" placeholder="Кошелек DARS"
               class="text-lowercase" maxlength="12" readonly>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" (keyup.enter)="doEditContact()" formControlName="name" placeholder="Имя контакта">
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer" style="padding: 0.5rem 0 0 0;">
    <button type="submit" class="btn btn-info-outline" (click)="doEditContact()" [disabled]="!contactForm.valid">
      Редактировать
    </button>
  </div>
</clr-modal>
</div>

<div class="delPopapWrap">
<clr-modal [(clrModalOpen)]="deleteContactModal" [clrModalSize]="'sm'">
  <h3 class="modal-title text-white modal-title_adaptive-400">
    <fa-icon [icon]="['fas', 'user-minus']"></fa-icon>&nbsp;&nbsp;<span class="blue">Удалить</span> контакт?
  </h3>
  <div class="modal-body">
    <p style="margin-bottom: 20px;">Вы уверены что хотите удалить контакт?</p>
  </div>
  <div class="modal-footer modal-footer_adaptive-650">
    <button class="btn btn-danger-outline btn_adaptive-650 outline btn_adaptiveMarg-650" (click)="deleteContactModal = false">Отмена</button>
    <button type="button" class="btn btn-info-outline btn_adaptive-650" (click)="doDeleteContact()">
      Да, удалить
    </button>
  </div>

</clr-modal>
</div>
