<div class="container-fluid" style="width: 100%; height: 100%; overflow:hidden;">

  <div class="row" style="height: 100%; opacity: 0.85" *ngIf="loading">
    <div class="col-lg-12 text-center flex-column animate" style="padding: 39px; align-items: center;">
      <ng-container>

        <fa-layers class="mt-2 mb-1">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x" style="color:#0094d2;"></fa-icon>
        </fa-layers>
        <br>

        <div style="color:#0094d2; padding-left: 17px; font-size: 18px; margin-top: 10px">ЗАГРУЗКА...</div>
      </ng-container>
    </div>
  </div>

  <div class="row flex-items-xs-between row_main-adaptive-40" style="width: 100%; height: 100%;">
    <div class="text-center flex-column animate" *ngIf="!loading" style="padding: 5px; width: 100%; height: 100%;">
	  <div class="text-center" style="color: white;">
	   В данном разделе Вы можете отслеживать все операции с Вашим балансом.
	  </div>
      <div class="text-right">
        <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="refresh('')">
          <fa-icon [icon]="['fas', 'undo']"></fa-icon>
          Все
        </a>
        <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="refresh('DUSD')">
          <fa-icon [icon]="['fas', 'undo']"></fa-icon>
          DUSD
        </a>
        <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="refresh('DRS')">
          <fa-icon [icon]="['fas', 'undo']"></fa-icon>
          DRS
        </a>
      </div>
      <p-table #historyTable
	           [value]="histories"
               [responsive]="true"
               [totalRecords]="totalHistories"
               dataKey="id"
               class="overview-table flex-column"
               [rows]="10"
               [paginator]="true">

        <ng-template pTemplate="emptymessage" let-columns>
		 <tr>
          <td align="center" colspan="7">
           Пока нет истории
          </td>
         </tr>
        </ng-template>
		
	<ng-template pTemplate="header">
          <tr>
            <th style="width: 80px;">
              Дата и время
            </th>
            <th style="width: 120px;">
              Ваш баланс до операции
            </th>
            <th style="width: 120px;">
              Отправитель
            </th>
            <th style="width: 120px;">
              Получатель
            </th>
            <th style="width: 120px;">
              Сумма
            </th>
            <th style="width: 120px;">
              Комиссия
            </th>
            <th class="text-center expandable" style="width: 90px;">
              Назначение
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-expanded="expanded">
          <tr [pSelectableRow]="item" class="tr-canexpand" [pRowToggler]="item" *ngIf="!item.dup">
            <td class="text-center" style="width: 80px;">
			{{item.date}}
            </td>

            <td class="text-center" style="width: 120px;">
			 {{item.balance}}
            </td>

            <td class="text-center" style="width: 120px;">
			 {{item.from}}
            </td>
			
            <td class="text-center" style="width: 120px;">
			 {{item.to}}
            </td>

            <td class="text-center" style="width: 120px;">
			 <font color="{{item.color}}">{{item.amount}}</font>
            </td>

            <td class="text-center" style="width: 120px;">
			 <font color="{{item.color}}">{{item.comission}}</font>
            </td>

            <td class="text-center expandable expandable__wordBreak" style="width: 90px;">
			 {{item.comment}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
	
  </div>
</div>
