<div class="container-fluid" style="width: 100%; height: 100%; overflow:hidden;">

  <div class="row" style="height: 100%; opacity: 0.85" *ngIf="loadingRentOuts || loadingRentOutsA">
    <div class="col-lg-12 text-center flex-column animate" style="padding: 39px; align-items: center;">
      <ng-container>

        <fa-layers class="mt-2 mb-1">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x" style="color:#0094d2;"></fa-icon>
        </fa-layers>
        <br>

        <div style="color:#0094d2; padding-left: 17px; font-size: 18px; margin-top: 10px">ЗАГРУЗКА...</div>
      </ng-container>
    </div>
  </div>

  <div class="row flex-items-xs-between row_main-adaptive-40" style="width: 100%; height: 100%;">
    <div class="text-center flex-column animate" *ngIf="!loadingRentOuts && !loadingRentOutsA" style="padding: 5px; width: 100%; height: 100%;overflow: auto;display: block;">
	  <div class="text-center" style="color: white;">
	   Отдавая свои токены DRS в аренду Вы получаете дивиденды за то, что ими пользуются другие участники блокчейна для проведения операций. Вы можете вернуть токены из аренды в любой момент.
	  </div>
 	  <div class="text-right">
		<a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="doRentOut()">
		 <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>
		 Отдать токены в аренду
		</a>
        <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="refreshFrom()">
         <fa-icon [icon]="['fas', 'undo']"></fa-icon>
         Обновить
        </a>
      </div>

      <div class="rentTopTabTrWrap">
          <p-table #rentOutsTable
               [value]="rentouts"
                   [responsive]="true"
                   [totalRecords]="totalRentOuts"
                   dataKey="id"
                   class="overview-table flex-column"
                   sortField="createdate"
                   sortMode="single"
                   [sortOrder]="-1"
                   [rows]="5"
                   [paginator]="true">

            <ng-template pTemplate="caption">
             Список токенов, которые Вы ОТДАЛИ в аренду
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
             <tr>
              <td align="center" colspan="7">
               Пока нет токенов, отданных в аренду
              </td>
             </tr>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr class="rentTopTabTr">
                <th style="width: 120px;" [pSortableColumn]="'createdate'">
                  Дата создания
                  <p-sortIcon [field]="'createdate'"></p-sortIcon>
                </th>
                <th style="width: 120px;">
                  Сумма
                </th>
                <th style="width: 120px;">
                  Дивиденды
                </th>
                <th style="width: 120px;">
                  Дата возврата
                </th>
                <th class="text-right expandable" style="width: 150px;">
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item let-expanded="expanded">
              <tr [pSelectableRow]="item" class="tr-canexpand rentTopTabTr" [pRowToggler]="item" *ngIf="!item.dup">
                <td class="text-center" style="width: 120px;">
                 {{item.createdate}}
                </td>

                <td class="text-center" style="width: 120px;">
                 {{item.amount}}
                </td>

                <td class="text-center" style="width: 120px;">
                 {{item.dividend}}
                </td>

                <td class="text-center expandable" style="width: 120px;">
                 {{item.refunddate}}
                </td>

				<td class="text-center expandable" style="width: 150px;">
				 <ng-container *ngIf="!item.locked && !item.voted">
				  <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="doRefundFrom(item.id)">
				   <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>
				   Возвратить
				  </a>
				 </ng-container>
				 <ng-container *ngIf="!item.locked && item.voted">
				  Голосование за {{item.producer}}
				  <br>
				  <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="doRefundFrom(item.id)">
				   <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>
				   Отозвать
				  </a>
				 </ng-container>
				 <ng-container *ngIf="item.locked">
				  Заморожены
				 </ng-container>
				</td>
              </tr>
            </ng-template>
          </p-table>
      </div>
	  <div class="text-right">
        <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="refreshFrom()">
         <fa-icon [icon]="['fas', 'undo']"></fa-icon>
         Обновить
        </a>
      </div>

      <div class="rentTopTabTrWrap">
          <p-table #rentOutsATable
               [value]="rentoutsa"
               [style]="{'width':'100%'}"
                   [responsive]="true"
                   [totalRecords]="totalRentOutsA"
                   dataKey="id"
                   class="overview-table flex-column"
                   sortField="createdate"
                   sortMode="single"
                   [sortOrder]="-1"
                   [rows]="3"
                   [paginator]="true">

            <ng-template pTemplate="caption">
             История аренды
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
             <tr>
              <td align="center" colspan="7">
               Пока нет истории токенов, отданных в аренду
              </td>
             </tr>
            </ng-template>

            <ng-template pTemplate="header">
              <tr class="rentTopTabTr">
                <th style="width: 120px;" [pSortableColumn]="'createdate'">
                  Дата создания
                  <p-sortIcon [field]="'createdate'"></p-sortIcon>
                </th>
                <th style="width: 120px;">
                  Сумма
                </th>
                <th style="width: 120px;">
                  Дивиденды
                </th>
                <th style="width: 120px;">
                  Дата возврата
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item let-expanded="expanded">
              <tr [pSelectableRow]="item" class="tr-canexpand rentTopTabTr" [pRowToggler]="item" *ngIf="!item.dup">
                <td class="text-center" style="width: 120px;">
                 {{item.createdate}}
                </td>

                <td class="text-center" style="width: 120px;">
                 {{item.amount}}
                </td>

                <td class="text-center" style="width: 120px;">
                 {{item.dividend}}
                </td>

                <td class="text-center expandable" style="width: 120px;">
                 {{item.refunddate}}
                </td>
              </tr>
            </ng-template>
          </p-table>
      </div>
    </div>
	
  </div>
</div>
<div class="modalWrap_cor">
<clr-modal [(clrModalOpen)]="sendModal">

      <h3 class="modal-title text-white">
       Отправитель: <span class="blue">{{ fromAccount }}</span><br>
       Получатель: <span class="blue">{{ toAccount }}</span><br>
       Назначение: <span class="blue">{{ paymentComment }}</span><br>
      </h3>
      <div class="modal-body">
       <p style="margin-bottom: 20px;">Для подтверждения операции введите дату окончания аренды, количество токенов, пароль и нажмите кнопку ПОДТВЕРДИТЬ</p>
      </div>
      <div class="modal-footer">
        <form [formGroup]="confirmForm" class="confirmForm">
          <mat-form-field class="field-width">
           <input matInput #refunddate type="date" min="{{minRefundDate}}" placeholder="Дата окончания аренды" formControlName="refunddate">
          </mat-form-field>
          <mat-form-field class="field-width">
           <input matInput #amount type="text" [textMask]="{mask: numberMask}" placeholder="Количество токенов" formControlName="amount" (blur)="checkAmount()">
           <mat-error align="start" *ngIf="amounterror !== ''">
            {{amounterror}}
           </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput #pass type="password" (keyup.enter)="transfer()" placeholder="Пароль" formControlName="pass">
            <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
              {{wrongpass}}
            </mat-hint>
          </mat-form-field>
          <br clear="all"/>
          <button type="button" class="btn btn-info-outline" style="margin-top: 12px;" (click)="transfer()" [disabled]="!confirmForm.valid || busy">
            Подтвердить
            <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
          </button>
        </form>
      </div>

</clr-modal>
</div>
<clr-modal [(clrModalOpen)]="refundModal" [clrModalSize]="'md'">
  <h3 class="modal-title text-white">
    Вы <span class="blue">уверены</span> ?
  </h3>
  <div class="modal-body">
    <p style="margin-bottom: 20px;">Выбранные токены будут досрочно возвращены на Ваш баланс. Вы получите дивиденды в меньшем объеме - только за фактически использованные дни.</p>
  </div>
  <div class="modal-footer">
   <form [formGroup]="confirmRefundForm" class="confirmForm">
    <mat-form-field>
     <input matInput #pass type="password" (keyup.enter)="transferRefund()" placeholder="Пароль" formControlName="pass">
      <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
       {{wrongpass}}
      </mat-hint>
    </mat-form-field>
    <br clear="all"/>
    <button class="btn btn-danger-outline" (click)="refundModal = false">Отмена</button>
    <button type="button" class="btn btn-info-outline" (click)="transferRefund()" [disabled]="!confirmRefundForm.valid || busy">
	 Да, возвратить
     <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
	</button>
   </form>
  </div>
</clr-modal>


