<div class="container" style="height: 100%; overflow-x: hidden;">

  <div class="row animate flex-items-xs-between" style="padding-top: 15px;">
    <div class="col-lg-7 _wdth-cor-1170">
      <!--<div class="card info-card disabled-card" pTooltip="soon"></div>-->
      <div class="card info-card">
        <div class="card-header title">
          Подключение к сети
        </div>
        <div class="card-block">
          <div class="info2">Подключиться к другому серверу</div>
          <div class="card chains-card">
            <ng-container *ngFor="let endpoint of network.publicEndpoints">
              <div class="card-block chain-section _flex _flex-wrap _justify-between"
                   [ngClass]="{selected: network.selectedEndpoint.getValue().url === endpoint.url}"
                   (click)="selectEndpoint(endpoint)" *ngIf="endpoint.latency !== -1">
                <span style="margin-right: 7px;word-break: break-word;">{{endpoint.url}}</span>
                <span style="float:right">задержка: {{endpoint.latency}} ms</span>
              </div>
            </ng-container>
          </div>
          <div class="row _butfull-450" style="margin-left: 0;">
            <div class="col-xs-auto">
              <button class="btn btn-info-outline mt-1" (click)="endpointModal = true">Другой</button>
            </div>
            <div class="col-xs-auto">
              <button class="btn btn-info-outline mt-1" (click)="network.connect()"
                      pTooltip="Произойдет автоматический выбор самого быстрого сервера для Вас">Автоматически
              </button>
            </div>
            <div class="col-xs-auto" *ngIf="!network.networkingReady.getValue()">
              <fa-layers class="mt-2 mb-1">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x" style="color:#0094d2;"></fa-icon>
              </fa-layers>
            </div>
            <div class="col-xs my-auto" *ngIf="!network.networkingReady.getValue()"
                 style="margin-top: auto; margin-bottom: auto; padding-top: 10px;">
              <span style="color:#0094d2; padding-left: 17px; font-size: 18px;">Подключение...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 _wdth-cor-1170">
      <div class="card info-card">
        <div class="card-header title">
          Выход из кошелька
        </div>
        <div class="card-block">
          <button class="btn btn-info-outline removeAll" (click)="logoutModal = true">Очистить все данные и выйти</button>
          <div class="info">Все Ваши данные будут очищены. При следующем входе Вам нужно будет снова ввести данные Вашего кошелька.</div>
        </div>
      </div>
      <div class="card info-card">
        <div class="card-header title">
          Код блокировки &nbsp;
          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-left">
            <fa-icon [icon]="['far','question-circle']" class="blue" style="font-size: 16px;"></fa-icon>
            <span class="tooltip-content tooltip-content_adaptive">Небольшой секретный код, <br> который используется для разблокировки кошелька.</span>
          </a>
        </div>
        <div class="card-block changeRemoteCode">
          <button class="btn btn-info-outline" (click)="pinModal = true">УСТАНОВИТЬ КОД</button>
          <button class="btn btn-danger-outline" (click)="clearPinModal = true">УДАЛИТЬ КОД</button>
        </div>
      </div>
      <div class="card info-card">
        <div class="card-header title">
          Изменить пароль &nbsp;
          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-left">
            <fa-icon [icon]="['far','question-circle']" class="blue" style="font-size: 16px;"></fa-icon>
            <span class="tooltip-content tooltip-content_adaptive">Пароль используется для <br> подтверждения транзакций.
              </span>
          </a>
        </div>
        <div class="card-block changeRemoteCode">
          <button class="btn btn-info-outline" (click)="changePassModal = true">ИЗМЕНИТЬ</button>
        </div>
      </div>
	  <!--
      <div class="card info-card">
        <div class="card-header title">
          Резервная копия&nbsp;
          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <fa-icon [icon]="['far','question-circle']" class="blue" style="font-size: 16px;"></fa-icon>
            <span class="tooltip-content">Экспорт и импорт <br>uиспользуется чтобы перенести Ваш кошелек на другой компьютер.
              </span>
          </a>
        </div>
        <div class="card-block">
          <button class="btn btn-info-outline" (click)="exportBKModal = true">ЭКСПОРТ</button>
          <button class="btn btn-info-outline" (click)="importBKModal = true">ИМПОРТ</button>
        </div>
      </div>
	  -->
    </div>
  </div>
</div>
<div class="modalDellWrap">
<clr-modal [(clrModalOpen)]="logoutModal" [clrModalSize]="'md'">
  <h3 class="modal-title text-white">
    Вы <span class="blue">уверены</span> ?
  </h3>
  <div class="modal-body">
    <p style="margin-bottom: 20px;">Все Ваши данные будут очищены. При следующем входе Вам нужно будет снова ввести данные Вашего кошелька.</p>
    <mat-checkbox [(ngModel)]="clearContacts">Также очистить все контакты</mat-checkbox>
  </div>
  <div class="modal-footer _flex-wrap modal-footer_noPad-450">
    <button class="btn btn-danger-outline btn_fullWidth-450" (click)="logoutModal = false">Отмена</button>
    <div class="btn_fullWidth-450 btn_marginTop-450">
      <button type="button" class="btn btn-info-outline btn_fullWidth-450" (click)="logout()">Да, очистить</button>
    </div>
    <div class="text-center modal-footer__botText">*SimpleDARS будет перезапущен</div>
  </div>
</clr-modal>
</div>

<clr-modal [(clrModalOpen)]="endpointModal" [clrModalSize]="'md'">
  <h3 class="modal-title text-white">
    Для подключения к другому серверу введите ниже его адрес:
  </h3>
  <div class="modal-body">
    <mat-form-field>
      <input matInput type="text" placeholder="сервер" #customEndpoint>
    </mat-form-field>
  </div>
  <div class="modal-footer" style="padding: 0.5rem 0 0 0;">
    <button type="button" class="btn btn-info-outline" (click)="connectCustom(customEndpoint.value)">
      Подключиться
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="confirmModal" [clrModalSize]="'md'">
  <h3 class="modal-title text-white" *ngIf="selectedEndpoint">
    Подключение к <span class="blue">{{selectedEndpoint.url}}</span> ?
  </h3>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger-outline" (click)="confirmModal = false">Отмена</button>
    <button type="button" class="btn btn-info-outline" (click)="connectEndpoint()">
      Подключиться
    </button>
  </div>
</clr-modal>

<div class="changePassWrap">
<clr-modal [(clrModalOpen)]="changePassModal" [clrModalSize]="'md'">
  <h3 class="modal-title text-white">
    <fa-icon [icon]="['fas','key']"></fa-icon>&nbsp;&nbsp;Изменить пароль для кошелька <span class="blue">{{account}}</span>
  </h3>
  <div class="modal-body">
    <form [formGroup]="passForm">
      <mat-form-field class="mt-1 pass-input">
        <input matInput type="password" placeholder="Старый пароль"
               formControlName="oldpass">
      </mat-form-field>
      <mat-error *ngIf="!oldpassmatch">
        Старый пароль не правильный!
      </mat-error>
	  
      <mat-form-field class="mt-1 pass-input">
        <input matInput #pass1 type="password" placeholder="Новый пароль" (blur)="passCompare()"
               [formControl]="passForm['controls'].matchingPassword['controls']['pass1']">
        <fa-icon matSuffix *ngIf="pass1.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="pass1.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="pass1.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="pass1.type = 'password'"></fa-icon>
        <mat-hint align="start">
          Минимум 10 символов
        </mat-hint>
        <mat-hint align="end">{{pass1.value.length}} / 10+</mat-hint>
      </mat-form-field>
	  
      <mat-form-field class="mt-1 pass-input">
        <input matInput #pass2 type="password" placeholder="Подтверждение пароля" (blur)="passCompare()"
               [formControl]="passForm['controls'].matchingPassword['controls']['pass2']">
        <fa-icon matSuffix *ngIf="pass2.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="pass2.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="pass2.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="pass2.type = 'password'"></fa-icon>
        <mat-error *ngIf="!passmatch">
          Пароли не совпадают!
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer" style="padding: 0.5rem 0 0 0;">
    <button type="submit" class="btn btn-info-outline" (click)="changePass()" [disabled]="!passForm.valid">
      Изменить и перезапустить SimpleDARS
    </button>
  </div>
</clr-modal>
</div>

<clr-modal [(clrModalOpen)]="pinModal" [clrModalSize]="'sm'">
  <h3 class="modal-title text-white">
    Установить код блокировки
  </h3>
  <div class="modal-body" style="overflow-y: -webkit-paged-x !important;">
    <form [formGroup]="pinForm">
      <mat-form-field class="mt-1">
        <input matInput #pin type="password" placeholder="Новый код" formControlName="pin">
        <fa-icon matSuffix *ngIf="pin.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="pin.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="pin.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="pin.type = 'password'"></fa-icon>
        <mat-hint align="start">
          Код может быть любым
        </mat-hint>
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="setPIN()" class="btn btn-info-outline" [disabled]="!pinForm.valid">
      Установить код
    </button>
  </div>
</clr-modal>

<div class="delPopapWrap">
<clr-modal [(clrModalOpen)]="clearPinModal" [clrModalSize]="'sm'">
  <h3 class="modal-title text-white modal-title_adaptive-400">
    Вы <span class="blue">уверены</span> ?
  </h3>
  <div class="modal-body">
    <p style="margin-bottom: 20px;">Если Вы удалите код, содержимое Вашего кошелька будет показано сразу после старта программы!</p>
  </div>
  <div class="modal-footer modal-footer_adaptive-650">
    <button class="btn btn-danger-outline btn_adaptive-650 outline btn_adaptiveMarg-650" (click)="clearPinModal = false">Отмена</button>
    <button type="button" class="btn btn-info-outline btn_adaptive-650" (click)="clearPin()">
      Да, удалить
    </button>
  </div>
</clr-modal>
</div>


<clr-modal [(clrModalOpen)]="importBKModal" [clrModalSize]="'md'">
  <h3 class="modal-title text-white">
    Выберите файл резервной копии:
  </h3>
  <div class="modal-body">
    <form [formGroup]="importForm" (keyup.enter)="importBK()">
      <button type="button" class="btn btn-info-outline" (click)="inputIMClick()" style="margin-left:10px;">
        Выбрать файл
      </button>
      <mat-form-field class="mt-8">
        <input matInput #pass type="password" placeholder="пароль" formControlName="pass"  [disabled]="customImportBK">
        <fa-icon matSuffix *ngIf="pass.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="pass.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="pass.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="pass.type = 'password'"></fa-icon>
        <mat-hint align="start">
          Пароль, который был использован для шифрования файла резервной копии
        </mat-hint>
      </mat-form-field>
      <br />
      <br />
      <br />
      {{choosedFil}}
      <input style="visibility:hidden;" type="file" placeholder="Файл резервной копии" (change)="importCheckBK($event)" formControlName="customImportBK" #customImportBK>
    </form>
  </div>
  <div class="modal-footer" style="padding: 0.5rem 0 0 0;">
    <button type="button" class="btn btn-info-outline" (click)="importBK()"  [disabled]="!importForm.valid" [disabled]="busy">
      Импорт
      <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy" ></fa-icon>
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="exportBKModal" [clrModalSize]="'md'">
  <h3 class="modal-title text-white">
    Выберите папку для сохранения файла резервной копии:
  </h3>
  <div class="modal-body">
    <form [formGroup]="exportForm"  (keyup.enter)="exportBK()">

      <mat-form-field class="mt-8">
        <input matInput #pass type="password" placeholder="Зашифровать файл" formControlName="pass">
        <fa-icon matSuffix *ngIf="pass.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="pass.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="pass.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="pass.type = 'password'"></fa-icon>
        <mat-hint align="start">
          Пароль может быть любым
        </mat-hint>
      </mat-form-field>
      <button type="button" class="btn btn-info-outline" (click)="inputEXClick()" style="margin-left:10px;">
        Выберите папку
      </button>
      <br />
      <br />
      <br />
      {{choosedDir}}
      <input style="visibility:hidden;"  type="file" placeholder="папка для создания резервной копии" (change)="exportCheckBK($event)" formControlName="customExportBK" webkitdirectory directory #customExportBK >

    </form>

  </div>
  <div class="modal-footer" style="padding: 0.5rem 0 0 0;">
    <button type="button" class="btn btn-info-outline" (click)="exportBK()"  [disabled]="!exportForm.valid" [disabled]="busy">
      Экспорт
      <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy" ></fa-icon>
    </button>
  </div>
</clr-modal>


