.info-card {
    background-color: #333333;
    border-radius: 5px;
    border: 0;
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
}

.title {
    color: #a4a4a4;
    font-size: 21px;
    border-bottom: 1px solid #4e4e4e;
    margin-bottom: 10px;
    padding-bottom: 17px;
}

.info {
    color: #a4a4a4;
    margin-bottom: 20px;
}

.info2 {
    font-size: 17px;
    color: #a4a4a4;
}

.chains-card {
    background-color: transparent;
    border: 1px solid #565656;
    box-shadow: none;
    color: #848484;
}

.chain-section {
    border-bottom: 1px solid #444444;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.chain-section:not(.selected):hover {
    background-color: #2b2b2b;
    cursor: pointer;
}

.selected {
    background-color: #0077b7;
    color: white;
}

.disabled-card {
    background-color: rgba(70, 70, 70, 0.7607843137254902);
    z-index: 1000;
    width: calc(100% - 1rem);
    height: calc(100% - 20px);
    top: 0;
    left: .5rem;
    position: absolute;
    padding-right: .5rem;
    padding-left: .5rem;
}

/deep/ .modal-body {
    overflow-y: hidden !important;
}

.pass-input {
    display: block;
}
._flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._justify-between{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._flex-wrap{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.modal-footer__botText{
    width: 100%;
    margin-top: 15px;
}
/deep/ .changePassWrap .modal-dialog{
    max-height: 100%;
    overflow: auto;
}
@media screen and (max-width: 1170px){
    ._wdth-cor-1170{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .tooltip-content_adaptive {
        width: 7rem !important;
    }
}
/deep/ @media screen and (max-width: 650px){
    .btn_adaptive-650{
        margin-left: 0px !important;
        display: block;
        width: 100%;
    }
    .btn_adaptiveMarg-650{
        margin-bottom: 10px !important;
    }
    .modal-footer_adaptive-650{
        flex-direction: column;
    }
}
/deep/ @media screen and (max-width: 576px){
    .delPopapWrap .modal-content>div{
        padding-right: 0px;
    }
}
/deep/ @media screen and (max-width: 400px){
    .modal-title.modal-title_adaptive-400{
        font-size: 15px;
    }
}
@media screen and (max-width: 450px){
    ._butfull-450>div{
        flex-grow: 1;
    }
    ._butfull-450>div>button{
        width: calc(100% - 12px);
        margin-top: 15px !important;
    }
    .removeAll{
        width: 100%;
        max-width: 100%;
        margin: 0px 0px 20px;
    }
    .changeRemoteCode{
        margin-right: -12px;
        margin-top: -10px;
        padding-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    .changeRemoteCode>button{
        flex-grow: 1;
        margin-right: 12px;
        margin-top: 15px;
    }
    .btn_fullWidth-450{
        width: 100%;
        max-width: 100%;
        margin-left: 0px !important;
    }
    .btn_marginTop-450{
        margin-top: 15px;
    }
    .modal-footer_noPad-450{
        padding-right: 0px;
    }
    /deep/ .modalDellWrap .modal-header{
        padding-right: 0px;
    }
}
/deep/ @media (pointer:coarse){
    .content {
        height: calc(100% - 185px);
    }
}
/deep/ @media only screen and (orientation: landscape){
    .content {
        height: calc(100% - 108px);
    }
}
