<toaster-container [toasterconfig]="config"></toaster-container>
<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <div class="row purse" style="margin-right: 0;">
        <div class="col-xs-9 col-sm-7 col-lg-9 purseSlider" style="padding-right: 0">
          <mat-tab-group id="header-tabs" (selectedIndexChange)="selectAccount($event)" [selectedIndex]="selectedTab" class="mat-tab-header-pagination-controls-enabled">
            <mat-tab *ngFor="let account of aService.accounts; let i = index" >
              <ng-template mat-tab-label>
                <div style="font-size: 10px;">КОШЕЛЕК {{i + 1}}&nbsp;&nbsp;<fa-icon *ngIf="aService.accounts.length > 1"
                                                                                    [icon]="['fas', 'times-circle']"
                                                                                    class="deleteacc"
                                                                                    (click)="openRemoveAccModal(i,account)"></fa-icon>
                </div>
                <div style="font-size: 17px;">{{account.name}}</div>
                <div class="value">{{account.drs_balance}} DRS&nbsp;&nbsp;<fa-icon [icon]="['fas', 'exchange-alt']"
                                                                                   class="swapacc"
                                                                                   (click)="openSwapTokensModal(account)"></fa-icon>

				</div>
                <div class="value">{{account.dusd_balance}} DUSD</div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="col-xs-1 col-sm-2 col-lg-1 purseAdd" style="padding-left: 0; padding-right: 0" (click)="importKeyModal = true">
          <div class="text-center navbar-btn newaccount">
            <div class="nomargico-600" style="padding-top: 16px;margin-bottom: 5px;">
              <fa-icon [icon]="['fas', 'user-plus']" size="lg"></fa-icon>
            </div>
            <div class="display-no-600" style="font-size: 10px;line-height: 15px;">ДОБАВИТЬ</div>
            <div class="display-no-600" style="font-size: 10px;line-height: 15px;">КОШЕЛЕК</div>
          </div>
        </div>
        <div class="col-xs-1 col-sm-2 col-lg-1 purseCreate" style="padding-left: 0; padding-right: 0" (click)="newWallet = true">
          <div class="text-center navbar-btn newaccount">
            <div class="nomargico-600" style="padding-top: 16px;margin-bottom: 5px;">
              <fa-icon [icon]="['fas', 'user-edit']" size="lg"></fa-icon>
            </div>
            <div class="display-no-600" style="font-size: 10px;line-height: 15px;">СОЗДАТЬ</div>
            <div class="display-no-600" style="font-size: 10px;line-height: 15px;">КОШЕЛЕК</div>
          </div>
        </div>
        <div class="col-xs-1 purseSet" style="padding-left: 0; padding-right: 0">
          <div class="text-center navbar-btn cog" [routerLink]="['config']">
            <div>
              <fa-icon [icon]="['fas', 'cog']" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <input type="checkbox" id="sidenavControl" class="sidenavControl">
    <label for="sidenavControl" class="sidenavControlLab"><span class="sidenavControlLab__line"></span></label>
    <div class="sidenav sidenav_cor">

      <nav class="sidenavWrap">
        <section class="sidenav-header">
  <!--
          <lottie-animation-view
            [options]="lottieConfig" [width]="'auto'" [height]="'auto'"
            (animCreated)="handleAnimation($event)">
          </lottie-animation-view>
  -->
        </section>
        <section #sidenavContent class="sidenav-content">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['history']">
            <fa-icon [icon]="['far', 'list-alt']"></fa-icon>&nbsp;&nbsp;ИСТОРИЯ
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['wallet']">
            <fa-icon [icon]="['fas', 'file-invoice-dollar']"></fa-icon>&nbsp;&nbsp;ИНВОЙСЫ
            <fa-icon [icon]="['fas', 'bell']" style="color: red;" *ngIf="hasNewInvoices"></fa-icon>
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['send']">
            <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>&nbsp;&nbsp;ОТПРАВИТЬ
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['rent']">
            <fa-icon [icon]="['fas', 'retweet']"></fa-icon>&nbsp;&nbsp;АРЕНДА
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['bonus']">
            <fa-icon [icon]="['far', 'money-bill-alt']"></fa-icon>&nbsp;&nbsp;БОНУСЫ
          </a>
           <a class="nav-link" routerLinkActive="active" [routerLink]="['vote']">
            <fa-icon [icon]="['fas', 'network-wired']"></fa-icon>&nbsp;&nbsp;БЛОКПРОДЮСЕРЫ<br>
           </a>
           <a class="nav-link" routerLinkActive="active" [routerLink]="['community']">
            <fa-icon [icon]="['fas', 'vote-yea']"></fa-icon>&nbsp;&nbsp;ГОЛОСОВАНИЯ
           </a>
        </section>
        <section class="placeholder border-r">
          <div class="credits">
           <a style="color: #d7d7d7;" [routerLink]="['about']">DARS</a>
          </div>
          <div class="version">v1.0.0</div>
        </section>
      </nav>
    </div>
  </div>
</div>

<!--CREATE NEW WALLET START-->
<div class="modalWrapper">
<clr-wizard #wizardnew [(clrWizardOpen)]="newWallet" clrWizardSize="lg" (clrWizardOnFinish)="doWalletFinish()">
  <clr-wizard-title>Создать кошелек DARS</clr-wizard-title>
  <clr-wizard-button [type]="'previous'">Назад</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Далее</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Завершить</clr-wizard-button>
  
  <clr-wizard-page [clrWizardPageNextDisabled]="!accountname_valid"
                   [clrWizardPagePreventDefault]="true"
                   (clrWizardPageOnCommit)="verifyAccountName(true)"
                   (clrWizardPagePrevious)="wizardnew.previous()"
                   (clrWizardPageOnCancel)="resetAndClose()">
    <ng-template clrPageTitle>Создайте имя кошелька</ng-template>
    <h5 style="color: #a9a9a9">Введите имя Вашего кошелька в блокчейне DARS. Это необходимо для идентификации Вашего аккаунта и совершения удобных переводов.</h5>
    <h5 class="mt-0">Имя должно содержать строго 12 символов. Допускается использовать только маленькие английские буквы a-z и числа 1-5</h5>
    <mat-form-field class="mt-1" style="display: block; width: 180px">
      <input matInput #account placeholder="имя кошелька DARS" maxlength="12" (keyup.enter)="verifyAccountName(false)" (input)="changeAccountName()"
             [(ngModel)]="accountname">
      <mat-hint align="end">{{account.value.length}} / 12</mat-hint>
    </mat-form-field>
    <p class="error">{{accountname_err}}</p>
    <p *ngIf="account.value.length === 12 && accountname_valid" class="blue">
      Имя <strong>{{accountname}}</strong> cейчас свободно, нажмите кнопку <strong>ДАЛЕЕ</strong> для продолжения.
    </p>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="activepub === '' || ownerpub === '' || !agreeKeys">
    <ng-template clrPageTitle>Сохраните ключи</ng-template>
    <h5>Выбранный кошелек: <span class="blue">{{accountname}}</span></h5>
    <h5>Пожалуйста введите ниже Ваши публичные ключи или нажмите кнопку Создать ключи. Они будут необходимы для дальнейшей работы с блокчейном.</h5>
    
	<button class="btn btn-primary" (click)="generateKeys()">Создать ключи</button>
	
    <mat-form-field class="mt-1" style="width: 470px">
      <input matInput placeholder="Публичный ключ ВЛАДЕЛЬЦА" [(ngModel)]="ownerpub">
      <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(ownerpub, 'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
      <mat-hint>Ctrl+C и Ctrl+V для копирования и вставки</mat-hint>
    </mat-form-field>
    <mat-form-field class="mt-1" style="width: 470px">
      <input matInput placeholder="АКТИВНЫЙ публичный ключ" [(ngModel)]="activepub">
      <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(activepub, 'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
      <mat-hint>Ctrl+C и Ctrl+V для копирования и вставки</mat-hint>
    </mat-form-field>

    <fa-layers *ngIf="generating" class="blue fa-fw">
      <fa-icon [icon]="['fas','spinner']" size="2x" [spin]="true"></fa-icon>
    </fa-layers>

    <ng-container *ngIf="generated">
      <mat-form-field class="mt-1" style="width: 470px">
        <input matInput placeholder="Приватный ключ ВЛАДЕЛЬЦА" [(ngModel)]="ownerpk">
        <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(ownerpk, 'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
        <mat-hint>Ctrl+C и Ctrl+V для копирования и вставки</mat-hint>
      </mat-form-field>
      <mat-form-field class="mt-1" style="width: 470px">
        <input matInput placeholder="АКТИВНЫЙ приватный ключ" [(ngModel)]="activepk">
        <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(activepk, 'Ключ скопирован в буфер обмена!', 'Пожалуйста, сохраните его в безопасном месте.')"></fa-icon>
        <mat-hint>Ctrl+C и Ctrl+V для копирования и вставки</mat-hint>
      </mat-form-field>
	  
      <button class="btn btn-primary" style="margin-top: 20px" (click)="cc('Ключи владельца: публичный - ' + ownerpub + '\n' +
												  '                 приватный - ' + ownerpk + '\n' +
												  'Активные ключи:  публичный - ' + activepub + '\n' + 
												  '                 приватный - ' + activepk, 
												  'Все ключи скопированы в буфер обмена!', 
												  'Пожалуйста, сохраните их в безопасном месте.')">
	   Скопировать все
	  </button>	  
    </ng-container>
    <br><br>  
	<mat-checkbox [(ngModel)]="agreeKeys">Я сохранил все ключи от своего кошелька DARS в безопасном месте</mat-checkbox>
  </clr-wizard-page>
    
  <clr-wizard-page (clrWizardPageOnLoad)="makePayload(); makeMemo();">
    <ng-template clrPageTitle>Оплатите регистрацию</ng-template>
    <h5 style="color: #a9a9a9">В системе DARS создание нового аккаунта стоит небольшое количество токенов DRS, которые помогают получить необходимые ресурсы.</h5>
    <h5 style="color: #a7a7a7;">Пожалуйста, совершите перевод соответствующего кол-ва токенов DRS согласно расчетам ниже:</h5>
    <div style="color: white; margin-top: 15px"><strong>Использование процессора:</strong><span class="blue"> 0.75 DRS</span></div>
    <div style="color: white;"><strong>Использование сети:</strong><span class="blue"> 0.25 DRS</span></div>
    <div style="color: white;"><strong>Использование памяти:</strong><span style="color: #a9a9a9"> 0.25 DRS</span></div>
    <div style="border-bottom: 1px solid #0079b8; margin: 10px 0px;"></div>
    <div style="color: white;"><strong>Общая стоимость:</strong><span class="blue"> 0.5 DRS</span></div>
    <div style="margin-top: 5px; color: #a9a9a9;">*Если Вы переведете больше токенов DRS, чем указано в поле "Общая стоимость" - то остаток токенов будет зачислен на счет нового аккаунта</div>
    <div style="margin-top: 20px;margin-bottom: 20px;"><mat-checkbox [(ngModel)]="hastokens">У меня есть токены DRS</mat-checkbox></div>
	<ng-container *ngIf="!hastokens">
	 <img src="assets/paysystem.png" width="100%" height="100%">
    </ng-container>
	<ng-container *ngIf="hastokens">
     <h5 style="color: #a7a7a7;">Выполните перевод токенов DRS с такими реквизитами:</h5>
     <div class="card settings-card">
      <div class="card-block settings-section">
        <div style="color: #a7a7a7;"><strong>КОЛИЧЕСТВО:</strong>
          <mat-form-field class="mt-8" style="width: 142px;">
            <input matInput style="padding-top: 8px;" type="text" value="{{(0.5).toFixed(8)}} DRS" readonly>
            <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc((0.5).toFixed(8), 'Количество  скопировано в буфер обмена!', '')"></fa-icon>
          </mat-form-field>
        </div>
        <div style="color:#a7a7a7;"><strong>ПОЛУЧАТЕЛЬ:</strong>
          <mat-form-field class="mt-8" style="width: 132px;">
            <input matInput style="padding-top: 8px;" type="text" value="dars.signup" readonly>
            <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc('dars.signup', 'Получатель скопирован в буфер обмена!', '')"></fa-icon>
          </mat-form-field>
        </div>
        <div style="color: #a7a7a7;"><strong>КОММЕНТАРИЙ ПЛАТЕЖА:</strong>
        <mat-form-field class="mt-8" style="width: 100%;">
          <textarea  matInput type="text" rows="3" style="color: white; font-size: 12px;" value="{{memo}}" readonly></textarea>
          <mat-hint>Ctrl+C для копирования
            <fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(memo, 'Комментарий платежа скопирован в буфер обмена!', '')"></fa-icon>
          </mat-hint>
        </mat-form-field>
        </div>
      </div>
    </div>
   </ng-container>
  </clr-wizard-page>
  
</clr-wizard>
</div>
<!--CREATE NEW WALLET END-->

<!--IMPORT ONE MORE EXISTING WALLET-->
<div class="modalWrapper butStartCor">
<clr-wizard #importAccountWizard [(clrWizardOpen)]="importKeyModal" [clrWizardSize]="'md'">
  <clr-wizard-title>Добавить существующий кошелек</clr-wizard-title>

  <clr-wizard-button [type]="'previous'">Назад</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Далее</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Завершить</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="!pvtform.valid"
                   (clrWizardPageOnCommit)="verifyPrivateKey(pkField.value)"
                   [clrWizardPagePreventDefault]="true"
                   (clrWizardPageOnCancel)="doCancel()">
    <ng-template clrPageTitle>Шаг 1</ng-template>
    <h5 style="color: #a7a7a7;">Укажите существующий <strong>АКТИВНЫЙ</strong> приватный ключ</h5>
    <form [formGroup]="pvtform">
      <mat-form-field class="mt-1" style="width: 100%;">
        <input #pkField matInput type="password" formControlName="private_key"
               placeholder="АКТИВНЫЙ приватный ключ" [(ngModel)]="importactivepk">
        <fa-icon matSuffix *ngIf="pkField.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="pkField.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="pkField.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="pkField.type = 'password'"></fa-icon>
        <mat-hint align="start">
          Ctrl+C и Ctrl+V для копирования и вставки
        </mat-hint>
        <mat-error *ngIf="!pvtform.valid">
          {{this.errormsg}}
        </mat-error>
      </mat-form-field>
    </form>
  </clr-wizard-page>
  
  <clr-wizard-page [clrWizardPageNextDisabled]="!passform2.valid" (clrWizardPageOnCommit)="importAccounts()">
    <ng-template clrPageTitle>Шаг 2</ng-template>
    <form [formGroup]="passform2">
      <h5>Задайте Ваш пароль. Пароль будет использоваться для <strong>подтверждения транзакций.</strong></h5>
      <mat-form-field class="mt-1">
        <input matInput #importedpass type="password" placeholder="Пароль" (blur)="importedPassCompare()"
               [formControl]="passform2['controls'].matchingPassword['controls']['pass1']">
        <fa-icon matSuffix *ngIf="importedpass.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="importedpass.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="importedpass.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="importedpass.type = 'password'"></fa-icon>
        <mat-hint align="start">
          Минимум 10 символов
        </mat-hint>
        <mat-hint align="end">{{importedpass.value.length}} / 10+</mat-hint>
      </mat-form-field>
      <mat-form-field style="margin-top: 19px">
        <input matInput #importedpass2 type="password" placeholder="Подтверждение пароля" (blur)="importedPassCompare()"
               [formControl]="passform2['controls'].matchingPassword['controls']['pass2']">

        <fa-icon matSuffix *ngIf="importedpass2.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
                 (click)="importedpass2.type = 'text'"></fa-icon>
        <fa-icon matSuffix *ngIf="importedpass2.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
                 (click)="importedpass2.type = 'password'"></fa-icon>

        <mat-error *ngIf="!passmatch2">
          Пароли не совпадают!
        </mat-error>
      </mat-form-field>
    </form>
  </clr-wizard-page>
</clr-wizard>
</div>
<!--IMPORT ONE MORE EXISTING WALLET END-->

<!--REMOVE ACCOUNT-->
<clr-modal [(clrModalOpen)]="deleteAccModal" [clrModalSize]="'md'">
  <h3 class="modal-title text-white">
    <fa-icon [icon]="['fas', 'user-minus']"></fa-icon>&nbsp;&nbsp;<span class="blue">Удалить</span> кошелек?
  </h3>
  <div class="modal-body" *ngIf="selectedAccRem">
    <p style="margin-bottom: 20px; color: #b1b1b1;">Вы уверены, что хотите удалить кошелек <span class="blue">{{selectedAccRem.name}}</span>?</p>
    <p style="margin-bottom: 20px;">*Эта операция НЕ удаляет Ваш кошелек из системы DARS, она удаляет кошелек только из SimpleDARS. Если Вы хотите добавить кошелек снова, просто нажмите кнопку "Добавить кошелек".</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger-outline" (click)="deleteAccModal = false">Отмена</button>
    <button type="button" class="btn btn-info-outline" (click)="doRemoveAcc()">Да, удалить</button>
  </div>
</clr-modal>
<!--REMOVE ACCOUNT-->

<!--SWAP TOKENS-->
<clr-modal [(clrModalOpen)]="swapTokensModal" [clrModalSize]="'md'">
  <h3 class="modal-title text-white">
   <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>&nbsp;&nbsp;<span class="blue">Обмен токенов ICO на DRS</span>
   <div *ngIf="selectedAccSwap">
    <p style="margin-bottom: 20px; color: #b1b1b1;">Обменять токены и поместить их в кошелек <span class="blue">{{selectedAccSwap.name}}</span>?</p>
    <p style="margin-bottom: 20px;">*Эта операция позволяет обменять токены, купленные на этапе первичного размещения токенов (ICO) на токены в блокчейне DARS. Токены будут автоматически помещены в аренду, заморожены и станут доступны только после окончания срока заморозки.</p>
    <p class="blue" style="margin-bottom: 20px; font-size: 12px;">Для подтверждения операции введите пароль кошелька DARS и нажмите кнопку ОБМЕНЯТЬ</p>
   </div>
  </h3>
  <div class="modal-body">
   <form [formGroup]="swapForm" class="swapForm">
    <table width="100%">
	 <tr>
	  <td>
	  </td>
	  <td>
       <mat-form-field class="mt-1" style="display: block; width: 180px">
        <input matInput #icoemail type="email" placeholder="e-mail пользователя в ICO" formControlName="icoemail">
       </mat-form-field>
	  </td>
	 </tr> 
	 <tr>
	  <td>
	  </td>
	  <td>
       <mat-form-field class="mt-1" style="display: block; width: 180px">
        <input matInput #icopass type="password" placeholder="пароль пользователя в ICO" formControlName="icopass">
       </mat-form-field>
	  </td>
	 </tr> 
	 <tr>
	  <td>
	  </td>
	  <td>
       <mat-form-field>
        <input matInput #pass type="password" (keyup.enter)="doSwapTokens()" placeholder="Пароль кошелька DARS" formControlName="pass">
        <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
         {{wrongpass}}
        </mat-hint>
       </mat-form-field>
	  </td>
	  <td>
       <button type="button" class="btn btn-info-outline" (click)="doSwapTokens()" [disabled]="!swapForm.valid || busy">
	    Обменять
	    <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
	   </button>
	  </td>
	 </tr> 
	</table> 
   </form>
  </div>
</clr-modal>
<!--REMOVE ACCOUNT-->
