/deep/ body,
/deep/ html,
/deep/ .modal{
    overflow: hidden !important;
    max-height: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
/deep/ body::-webkit-scrollbar,
/deep/ html::-webkit-scrollbar{
    display: none;
}
.header {
    background-color: #191919;
    flex: 0 0 4.5rem;
    height: 4.5rem;
}

.content-area {
    background-color: #272727;
    padding: 0 !important;
}

.card-block {
  border-bottom: 0;
}

.card-footer {
  border-top: 1px solid #050505;
  overflow: hidden;
  font-size: 16px;
 }

.sidenav-header {
    flex: 0 0 auto;
    padding: 17px 20px 17px 20px;
    text-align: center;
    border-right: 1px solid #535353;
}

.sidenav {
    background-color: #191919;
    border: none;
}

.sidenav-content {
    /*display: table-row;*/
    flex: 0 1 auto;
    padding-bottom: 0;
}

.sidenav .sidenav-content>.nav-link {
    border-right: 1px solid #535353;
    color: #b1b1b1;
    margin: 0;
    padding: 20px 0 20px 25px;
}

.sidenav .sidenav-content>.nav-link.active {
    background: #272727;
    color: #e3e3e3;
    border-right: 1px solid #272727;
    border-bottom: 1px solid #535353;
    border-top: 1px solid #535353;
}

.sidenav .sidenav-content>.nav-link.active:hover {
    background: #272727;
}

.sidenav .sidenav-content>.nav-link:hover {
    background: #1f1f1f;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.placeholder {
    border-right: 1px solid #535353;
    flex: 1 1 auto;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.value {
    margin-top: 7px;
    font-size: 14px;
}

/*material's tabs*/
/deep/ #header-tabs .mat-tab-header {
    background-color: #191919;
    height: 4.5rem;
}

/deep/ #header-tabs .mat-tab-labels {
    height: 4.5rem;
}

/deep/ #header-tabs .mat-tab-label {
    height: 4.5rem !important;
}

/deep/ #header-tabs .mat-tab-body-wrapper {
    height: 0;
}
/*material's tabs end*/

.navbar-btn {
    background-color: #191919;
    height: 4.5rem;
    color: #525a60;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.navbar-btn:hover {
    cursor: pointer;
    background-color: #1f1f1f;
    color: #e3e3e3;
}

.credits {
    text-align: center;
    font-size: 15px;
    margin-bottom: -4px;
    /*margin-bottom: 5px;*/
}

.version {
    text-align: center;
    margin-bottom: 5px;
    /*margin-bottom: -4px;*/
    font-size: 12px;
}

.newaccount {
    padding: 0 10px;
}

.cog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
}

.cog:focus {
    outline: 0;
}

.max-width {
    max-width: calc(100% - 257px);
}

/deep/ .mat-radio-button {
    display: block !important;
}

/deep/ .mat-radio-outer-circle {
    border-color: #858585;
}

/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #007CBB;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #007CBB;
}

#textarea {
    background: #b1b1b1;
    border: 2px solid #065e8d;
}

.deleteacc {
  font-size: 1.5em !important;

}

.deleteacc:hover {
  color: white;
  cursor: pointer;
}

.swapacc {
  font-size: 1.0em !important;

}

.swapacc:hover {
  color: white;
  cursor: pointer;
}

.settings-card {
  background-color: transparent;
  border: 1px solid #0079b8;
  box-shadow: none;
  color: #ffffff;
}
.sidenavWrap{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidenav_cor{
    position: relative;
}
.sidenavControl, .sidenavControlLab{
    display: none;
}
.sidenavControlLab:before,
.sidenavControlLab:after{
    content: "";
}
.sidenavControlLab__line,
.sidenavControlLab:before,
.sidenavControlLab:after{
    display: block;
    position: absolute;
    top: 16px;
    left: 5px;
    right: 5px;
    height: 1px;
    background-color: #868686;
}
.sidenavControlLab:before{
    top: 8px;
}
.sidenavControlLab:after{
    top: 24px;
}
/deep/ .modal-body .clr-wizard-content .fa-layers{
    transform: translateY(10px) !important;
}

@media screen and (max-width: 600px){
    .sidenav_cor{
        position: fixed;
        z-index: 2;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 0px;
        min-width: 0px;
        transition: width 0.5s, min-width 0.5s;
    }
    .sidenavControl:checked ~ .sidenav_cor{
        width: 9rem;
        min-width: 9rem;
    }
    .sidenavControlLab{
        display: block;
        position: fixed;
        z-index: 3;
        top: 5px;
        left: 5px;
        width: 35px;
        height: 35px;
        flex-shrink: 0;
        max-width: 35px;
        cursor: pointer;
    }
    .sidenavWrap{
        width: 9rem;
        padding-top: 10px;
    }
    .sidenavControl:checked ~ .sidenavControlLab .sidenavControlLab__line{
        display: none;
    }
    .sidenavControl:checked ~ .sidenavControlLab:before,
    .sidenavControl:checked ~ .sidenavControlLab:after{
        top:50%;
        transform-origin: center;
        transition: transform 0.5s;
    }
    .sidenavControl:checked ~ .sidenavControlLab:before{
        transform: rotateZ(45deg);
    }
    .sidenavControl:checked ~ .sidenavControlLab:after{
        transform: rotateZ(-45deg);
    }
    .display-no-600{
        display: none;
    }
    .nomargico-600{
        margin-bottom: 0px !important;
        padding-top: 0px !important;
    }
    .purseAdd, .purseCreate, .purseSet{
        position: absolute;
        right: 5px;
        background-color: #272727;
        color: #868686;
        top: 5px;
        width: 35px;
        height: 35px;
        flex-shrink: 0;
        max-width: 35px;
    }
    .purseAdd .newaccount, .purseCreate .newaccount, .purseSet .cog{
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: inherit;
        padding: 0px 0px 0px 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .purseCreate, .purseSet{
        top: 45px;
    }
    .purseSet .cog{
        padding: 2px 0px 0px 0px;
    }
    .purseSet{
        right: auto;
        left: 5px;
    }
    .purse{
        background-color: #191919;
        padding-left: 45px;
        padding-right: 45px;
        display: flex;
        width: 100%;
        margin: 0px !important;
    }
    .purseSlider{
        width: 100%;
        max-width: 100%;
        flex-grow: 1;
        padding-left: 0px;
    }
    .value{
        margin-top: 0px;
        font-size: 12px;
        line-height: 15px;
    }
}
/*
/deep/ @media screen and (max-height: 700px){
    .clr-wizard .modal-dialog {
        height: 95vh !important;
    }
}*/
/deep/ .clr-wizard.wizard-lg .modal-dialog{
    overflow: auto;
    min-height: 0px;
}
/deep/ .modal-body .fa-layers.blue{
    display: block;
    width: 25px;
    height: 25px;
    transform: translateY(20px);
}
/deep/ .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body{
    display: flex;
    overflow: auto;
}
/deep/ .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main{
    width: 100%;
}
/deep/ .modalWrapper .clr-wizard.wizard-md .clr-wizard-stepnav-wrapper,
/deep/.modalWrapper .clr-wizard.wizard-md .modal-content,
/deep/.modalWrapper .clr-wizard.wizard-lg .clr-wizard-stepnav-wrapper,
/deep/.modalWrapper .clr-wizard.wizard-lg .modal-content{
    max-height: unset;
}
/deep/ #toast-container .toast{
    padding: 15px;
}
/deep/ .butStartCor nav .clr-wizard-stepnav-list button:before{
    display: none;
}
/deep/ @media screen and (max-width: 480px){
    .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body{
        overflow: hidden;
    }
    .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main{
        overflow-x: hidden !important;
    }
    .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main .clr-wizard-page>*{
        width: 100% !important;
    }
    .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main .clr-wizard-page>* .mat-checkbox-layout{
        white-space: normal;
        align-items: flex-start;
        display: flex;
    }
    .modalWrapper .clr-wizard.wizard-lg .modal-content .modal-body>main .clr-wizard-page>* .mat-checkbox-layout .mat-checkbox-inner-container{
        margin: 5px 10px 0px 0px;
    }
    .modalWrapper .clr-wizard .modal-content-wrapper{
        overflow: auto;
        display: block;
    }
    .modalWrapper .clr-wizard.wizard-md .clr-wizard-stepnav-wrapper,
    .modalWrapper .clr-wizard.wizard-md .modal-content,
    .modalWrapper .clr-wizard.wizard-lg .clr-wizard-stepnav-wrapper,
    .modalWrapper .clr-wizard.wizard-lg .modal-content{
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow: hidden !important;
    }
}
