<div class="container-fluid" style="width: 100%; height: 100%; overflow:hidden;">

  <div class="row" style="height: 100%; opacity: 0.85" *ngIf="loadingVotings">
    <div class="col-lg-12 text-center flex-column animate" style="padding: 39px; align-items: center;">
      <ng-container>

        <fa-layers class="mt-2 mb-1">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x" style="color:#0094d2;"></fa-icon>
        </fa-layers>
        <br>

        <div style="color:#0094d2; padding-left: 17px; font-size: 18px; margin-top: 10px">ЗАГРУЗКА...</div>
      </ng-container>
    </div>
  </div>

  <div class="row flex-items-xs-between row_main-adaptive-40" style="width: 100%; height: 100%;">
    <div class="text-center flex-column animate" *ngIf="!loadingVotings" style="padding: 5px; width: 100%; height: 100%;overflow: auto;display: block;">
	  <div class="text-center" style="color: white;">
	   Вы можете принять участие в жизни сообщества DARS - проголосовать за изменение правил и настроек сети DARS.<br> 
	   Ниже показан список текущих голосований, по каждому из которых Вы можете высказать свое мнение - принять или отклонить голосование.<br>
	   Также Вы можете создать свое голосование.
	  </div>
 	  <div class="text-right">
		<a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="createVoting()">
		 <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>
		 Создать новое голосование
		</a>
        <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="reloadVotings()">
         <fa-icon [icon]="['fas', 'undo']"></fa-icon>
         Обновить
        </a>
      </div>

      <div class="voteTopTabTrWrap">
          <p-table #votingsTable
				   [value]="votings"
                   [responsive]="true"
                   [totalRecords]="totalVotings"
                   dataKey="id"
                   class="overview-table flex-column"
                   [rows]="5"
                   [paginator]="true">

            <ng-template pTemplate="caption">
             Список голосований
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
             <tr>
              <td align="center" colspan="7">
               Пока нет голосований
              </td>
             </tr>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr class="voteTopTabTr">
                <th style="width: 50px;">
                </th>
                <th style="width: 120px;">
                  Дата начала<br> 
				  и окончания
                </th>
                <th style="width: 120px;">
                  Кто создал
                </th>
                <th style="width: 120px;">
                  Вид голосования
                </th>
                <th style="width: 120px;">
                  Комментарий
                </th>
                <th class="text-center expandable" style="width: 150px;">
				  Ваш голос
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item let-expanded="expanded">
              <tr [pSelectableRow]="item" class="tr-canexpand voteTopTabTr" [pRowToggler]="item" *ngIf="!item.dup">
			  
                <td class="text-center" style="width: 50px;" nowrap>
				  <a class="blue btn btn-sm btn-link" style="max-width: 20px;" (click)="detailVoting(item.id)">
				   <fa-icon [icon]="['fas', 'info-circle']" size="2x"></fa-icon>
				  </a>
				  <ng-container *ngIf="item.owner === aService.selected.getValue().name">
				   <a class="blue btn btn-sm btn-link" style="max-width: 20px;" (click)="editVoting(item.id)">
				    <fa-icon [icon]="['fas', 'edit']" size="2x"></fa-icon>
				   </a>
				   <a class="blue btn btn-sm btn-link" style="max-width: 20px;" (click)="deleteVoting(item.id)">
				    <fa-icon [icon]="['far', 'times-circle']" size="2x"></fa-icon>
				   </a>
				  </ng-container>
                </td>
				
                <td class="text-center" style="width: 120px;">
                 {{item.begindate}}<br>
                 {{item.enddate}}<br>
                </td>

                <td class="text-center" style="width: 120px;">
                 {{item.owner}}
                </td>

                <td class="text-center" style="width: 120px;">
                 {{item.typename}}
                </td>

                <td class="text-center expandable" style="width: 120px;">
                 {{item.comment}}
                </td>

				<td class="text-center expandable" style="width: 150px;">
				 <ng-container *ngIf="!item.audited">
				  <p style="color: red;">Не проверено</p>
				 </ng-container>
				 <ng-container *ngIf="item.finished">
				  <p style="color: green;">Завершено</p>
				 </ng-container>
				 <ng-container *ngIf="item.voted==0">
				  <ng-container *ngIf="!item.inperiod">
				   <p style="color: red;">Неактивно</p>
				  </ng-container>
				  <ng-container *ngIf="item.inperiod && !item.finished">
				   <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="doVoting(item.id, 1)">
				    <fa-icon [icon]="['far', 'check-circle']" size="lg"></fa-icon>
				    За
				   </a>
				   <br>
				   <a class="blue btn btn-sm btn-link" style="max-width: none;" (click)="doVoting(item.id, -1)">
				    <fa-icon [icon]="['far', 'times-circle']" size="lg"></fa-icon>
				    Против
				   </a>
				  </ng-container>
				 </ng-container>
				 <ng-container *ngIf="item.voted==1">
				  За
				 </ng-container>
				 <ng-container *ngIf="item.voted==-1">
				  Против
				 </ng-container>
				</td>
              </tr>
            </ng-template>
          </p-table>
      </div>
    </div>
  </div>
</div>

<div class="modalWrap_cor">
<clr-modal [(clrModalOpen)]="voteModal">
      <h3 class="modal-title text-white">
       Ваш голос: <span class="blue">{{ voteResultStr }}</span><br>
      </h3>
      <div class="modal-body">
       <p style="margin-bottom: 20px;">Для подтверждения операции введите пароль и нажмите кнопку ПОДТВЕРДИТЬ</p>
      </div>
      <div class="modal-footer">
        <form [formGroup]="voteForm" class="voteForm">
          <mat-form-field>
            <input matInput #pass type="password" (keyup.enter)="sendVote()" placeholder="Пароль" formControlName="pass">
            <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
              {{wrongpass}}
            </mat-hint>
          </mat-form-field>
          <br clear="all"/>
          <button type="button" class="btn btn-info-outline" style="margin-top: 12px;" (click)="sendVote()" [disabled]="!voteForm.valid || busy">
            Подтвердить
            <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
          </button>
        </form>
      </div>
</clr-modal>
</div>

<clr-modal [(clrModalOpen)]="detailModal" [clrModalSize]="'lg'">
	<div class="modal-body">
	  <table>
       <tr><td>Создатель голосования: </td><td><span class="blue">{{votingDetail["owner"]}}</span></td></tr>
       <tr><td>Начало: 				  </td><td><span class="blue">{{votingDetail["begindate"]}}</span></td></tr>
       <tr><td>Окончание: 			  </td><td><span class="blue">{{votingDetail["enddate"]}}</span></td></tr>
       <tr><td>Вид голосования: 	  </td><td><span class="blue">{{votingDetail["typename"]}}</span></td></tr>
       <tr><td>Условия голосования:   </td><td><span class="blue">{{votingDetail["scheme}"]}</span></td></tr>
       <tr><td>Комментарий голосования:</td><td><span class="blue">{{votingDetail["comment"]}}</span></td></tr>
       <tr><td>Голосов ЗА: 			  </td><td><span class="blue">{{votingDetail["approve"]}}</span></td></tr>
       <tr><td>Голосов ПРОТИВ: 		  </td><td><span class="blue">{{votingDetail["reject"]}}</span></td></tr>
       <tr><td></td><td></td></tr>
	   <ng-container *ngIf='!votingDetail["audited"]'>
       <tr><td></td><td><p style="color: red;">Не проверено</p></td></tr>
	   </ng-container>
	   <ng-container *ngIf='!votingDetail["inperiod"]'>
       <tr><td></td><td><p style="color: red;">Голосование неактивно</p></td></tr>
	   </ng-container>
	   <ng-container *ngIf='votingDetail["finished"]'>
	   <tr><td></td><td><p style="color: green;">Голосование завершено</p></td></tr>
	   </ng-container>
       <tr><td></td><td></td></tr>
       <tr *ngFor="let d of fields; let i = index;"><td>{{fields[i].comment}}: </td><td><span class="blue">{{fields[i].value}}</span></td></tr>
	  </table>
	</div>
</clr-modal>

<!--CREATE NEW VOTING START-->
<clr-wizard #createVotingWizard [(clrWizardOpen)]="createModal" [clrWizardSize]="'lg'">
  <clr-wizard-title>Добавить голосование</clr-wizard-title>

  <clr-wizard-button [type]="'previous'">Назад</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Далее</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="!selectedVotingType || wrongvoting !== ''"
                   (clrWizardPageOnCommit)="loadFieldsForCreate()"
                   [clrWizardPagePreventDefault]="true"
                   (clrWizardPageOnCancel)="doCreateCancel()">
    <ng-template clrPageTitle>Вид голосования</ng-template>
	 <select [(ngModel)]="selectedVotingType" (change)="votingTypeChange()">
      <option *ngFor="let votingtype of votingtypes" value="{{ votingtype.id }}">
       {{ votingtype.name }}
      </option>
     </select>
	 <br>
     <mat-hint class="error" align="start" *ngIf="wrongvoting !== ''">
      {{wrongvoting}}
     </mat-hint>
  </clr-wizard-page>
  
  <clr-wizard-page #createFieldsPage
				   (clrWizardPageOnCancel)="doCreateCancel()">
    <ng-template clrPageTitle>Параметры голосования</ng-template>
      <p style="margin-bottom: 20px;">Для подтверждения операции введите значения обязательных полей, пароль и нажмите кнопку ЗАВЕРШИТЬ</p>
	  <form [formGroup]="createForm" class="createForm">
	   <table>
	    <tr><td>Создатель голосования:</td><td><span class="blue">{{votingDetail["owner"]}}</span></td></tr>
        <tr><td>Начало: 			  </td><td><span class="blue">{{votingDetail["begindate"]}}</span></td></tr>
        <tr><td>Окончание: 			  </td><td><span class="blue">{{votingDetail["enddate"]}}</span></td></tr>
        <tr><td>Вид голосования: 	  </td><td><span class="blue">{{votingDetail["typename"]}}</span></td></tr>
        <tr><td>Условия голосования:  </td><td><span class="blue">{{votingDetail["scheme"]}}</span></td></tr>
        <tr><td><fa-icon [icon]="['fas','exclamation-circle']" style="color: red;"></fa-icon>
	            Комментарий голосования:</td>
			<td>
			 <mat-form-field>
			  <input type="text" matInput formControlName="votingcomment" value='{{votingDetail["comment"]}}'>
			 </mat-form-field>			
			</td>
		</tr>
        <tr><td></td><td></td></tr>
		<ng-container *ngIf="createModal && loadedFields">
         <tr *ngFor="let field of fields; let i = index;">
		  <td valign="top">
		   <ng-container *ngIf="field.required">
		    <fa-icon [icon]="['fas','exclamation-circle']" style="color: red;"></fa-icon>
		   </ng-container>
		   {{field.comment}}:
	      </td>
		  <td>
		   <ng-container *ngIf="field.fieldtype==0">
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}" value="{{field.value}}">
		    </mat-form-field>
		   </ng-container>
		   <ng-container *ngIf="field.fieldtype==1">
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}" value="{{field.value}}">
		    </mat-form-field>
		   </ng-container>
		   <ng-container *ngIf="field.fieldtype==2">
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}" value="{{field.value}}">
		    </mat-form-field>
		   </ng-container>
		   <ng-container *ngIf="field.fieldtype==3">
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_ip" value="{{field.value_ip}}" placeholder="IP">
		    </mat-form-field>
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_port" value="{{field.value_port}}" placeholder="порт">
		    </mat-form-field>
		   </ng-container>
		   <ng-container *ngIf="field.fieldtype==4">
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_lat" value="{{field.value_lat}}" placeholder="Широта">
		    </mat-form-field>
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_lon" value="{{field.value_lon}}" placeholder="Долгота">
		    </mat-form-field>
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_place" value="{{field.value_place}}" placeholder="Страна и город">
		    </mat-form-field>
		   </ng-container>
		  </td>
		 </tr>
		</ng-container>
		<tr>
		 <td></td>
		 <td>
          <mat-form-field>
           <input matInput #pass type="password" formControlName="pass" (keyup.enter)="sendCreatedVoting()" placeholder="Пароль">
           <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
            {{wrongpass}}
           </mat-hint>
          </mat-form-field>
		  <br>
          <button type="button" class="btn btn-info-outline" style="margin-top: 12px;" (click)="sendCreatedVoting()" [disabled]="!createForm.valid || busy">
           Завершить
           <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
          </button>
		 </td>
		</tr>
	   </table>
      </form>
  </clr-wizard-page>
  
</clr-wizard>
<!--CREATE NEW VOTING END-->

<clr-modal [(clrModalOpen)]="editModal" [clrModalSize]="'lg'">
    <div class="modal-body">
     <p style="margin-bottom: 20px;">Для подтверждения операции введите значения обязательных полей, пароль и нажмите кнопку СОХРАНИТЬ</p>
     <form [formGroup]="editForm" class="editForm">
	  <table>
       <tr><td>Создатель голосования: </td><td><span class="blue">{{votingDetail["owner"]}}</span></td></tr>
       <tr><td>Начало: 				  </td><td><span class="blue">{{votingDetail["begindate"]}}</span></td></tr>
       <tr><td>Окончание: 			  </td><td><span class="blue">{{votingDetail["enddate"]}}</span></td></tr>
       <tr><td>Вид голосования: 	  </td><td><span class="blue">{{votingDetail["typename"]}}</span></td></tr>
       <tr><td>Условия голосования:   </td><td><span class="blue">{{votingDetail["scheme"]}}</span></td></tr>
       <tr><td><fa-icon [icon]="['fas','exclamation-circle']" style="color: red;"></fa-icon>
	           Комментарий голосования:</td>
			<td>
			 <mat-form-field>
			  <input type="text" matInput formControlName="votingcomment">
			 </mat-form-field>			
			</td>
		</tr>
       <tr><td>Голосов ЗА: 			  </td><td><span class="blue">{{votingDetail["approve"]}}</span></td></tr>
       <tr><td>Голосов ПРОТИВ: 		  </td><td><span class="blue">{{votingDetail["reject"]}}</span></td></tr>
       <tr><td></td><td></td></tr>
	   <ng-container *ngIf='!votingDetail["audited"]'>
       <tr><td></td><td><p style="color: red;">Не проверено</p></td></tr>
	   </ng-container>
	   <ng-container *ngIf='!votingDetail["inperiod"]'>
       <tr><td></td><td><p style="color: red;">Голосование неактивно</p></td></tr>
	   </ng-container>
	   <ng-container *ngIf='votingDetail["finished"]'>
	   <tr><td></td><td><p style="color: green;">Голосование завершено</p></td></tr>
	   </ng-container>
       <tr><td></td><td></td></tr>
		<ng-container *ngIf="editModal && loadedFields">
         <tr *ngFor="let field of fields; let i = index;">
		  <td>
		   <ng-container *ngIf="field.required">
		    <fa-icon [icon]="['fas','exclamation-circle']" style="color: red;"></fa-icon>
		   </ng-container>
		   {{field.comment}}:
	      </td>
		  <td>
		   <ng-container *ngIf="field.fieldtype==0">
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}" value="{{field.value}}">
		    </mat-form-field>
		   </ng-container>
		   <ng-container *ngIf="field.fieldtype==1">
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}" value="{{field.value}}">
		    </mat-form-field>
		   </ng-container>
		   <ng-container *ngIf="field.fieldtype==2">
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}" value="{{field.value}}">
		    </mat-form-field>
		   </ng-container>
		   <ng-container *ngIf="field.fieldtype==3">
		   <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_ip" value="{{field.value_ip}}" placeholder="IP">
		    </mat-form-field>
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_port" value="{{field.value_port}}" placeholder="порт">
		    </mat-form-field>
		   </ng-container>
		   <ng-container *ngIf="field.fieldtype==4">
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_lat" value="{{field.value_lat}}" placeholder="Широта">
		    </mat-form-field>
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_lon" value="{{field.value_lon}}" placeholder="Долгота">
		    </mat-form-field>
		    <mat-form-field>
		     <input type="text" matInput formControlName="field_{{field.name}}_place" value="{{field.value_place}}" placeholder="Страна и город">
		    </mat-form-field>
		   </ng-container>
		  </td>
		 </tr>
		</ng-container>
		<tr>
		 <td></td>
		 <td>
          <mat-form-field>
           <input matInput #pass type="password" formControlName="pass" (keyup.enter)="sendEditedVoting()" placeholder="Пароль">
           <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
            {{wrongpass}}
           </mat-hint>
          </mat-form-field>
		  <br>
          <button type="button" class="btn btn-info-outline" style="margin-top: 12px;" (click)="sendEditedVoting()" [disabled]="!editForm.valid || busy">
           Сохранить
           <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
          </button>
		 </td>
		</tr>
	   </table>
     </form>
	</div> 
</clr-modal>

<clr-modal [(clrModalOpen)]="deleteModal">
      <h3 class="modal-title text-white">
       Удалить голосование <span class="blue">{{votingDetail["comment"]}}</span> ?<br>
      </h3>
      <div class="modal-body">
       <p style="margin-bottom: 20px;">Для подтверждения операции введите пароль и нажмите кнопку ПОДТВЕРДИТЬ</p>
      </div>
      <div class="modal-footer">
        <form [formGroup]="deleteForm" class="deleteForm">
          <mat-form-field>
            <input matInput #pass type="password" (keyup.enter)="sendDeletedVoting()" placeholder="Пароль" formControlName="pass">
            <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
              {{wrongpass}}
            </mat-hint>
          </mat-form-field>
          <br clear="all"/>
          <button type="button" class="btn btn-info-outline" style="margin-top: 12px;" (click)="sendDeletedVoting()" [disabled]="!deleteForm.valid || busy">
            Подтвердить
            <fa-icon [icon]="['fas','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
          </button>
        </form>
      </div>
</clr-modal>

